/************************
Utility
************************/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #495057;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #495057;
  position: relative;
  font-size: 15px;
  background-color: #1F2327;
}

a {
  text-decoration: none !important;
  color: #1DA1F2;
  cursor: pointer;
}

a:hover, .navbar-brand:hover {
  color: #ef5350;
}

.navbar-brand:hover {
  color: #ef5350 !important;
}

a:focus, div:focus, span:focus {
  outline: none;
}

a:focus {
  color: inherit !important;
}

input {
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #9CA5AD !important;
  font-weight: 400 !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #9CA5AD !important;
  font-weight: 400 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #9CA5AD !important;
  font-weight: 400 !important;
}

input:-ms-input-placeholder {
  color: #9CA5AD !important;
  font-weight: 400 !important;
}

h5 {
  font-size: 16px;
  color: #454545;
}

hr {
  border-color: #4B5054;
}

ul {
  list-style: none;
  padding-left: 15px;
}

.loader {
  width: 50px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.yellow {
  color: #E8D125;
}

.green {
  color: #37AE9B;
}

.orange {
  color: #ef5350;
}

.light-grey {
  color: #9099A1;
}

.light-orange {
  color: #FF9C45;
}

.purple {
  color: #3F51B5;
}

.baby-blue {
  color: #00B1CC;
}

.baby-blue2 {
  color: #12C5E0;
}

.bright-blue {
  color: #97c9f0;
}

.dark-gray {
  color: #333;
}

.text-gray {
  color: #696969;
}

.md-blue {
  color: rgb(63,81,181);
}

.gray {
  color: #696969;
}

.light-gray {
  color: #A3A3A3;
}

.icon-gray {
  color: #BDBDBD;
}

.md-gray {
  color: #616161;
}

.black {
  color: #454545;
}

.main-color {
  color: #383838;
}

.badge-list .glyphicon-arrow-up {
  color: #37AE9B;
}

.badge-list .glyphicon-arrow-down {
  color: #ef5350;
}

.badge-list .fa-heart {
  color: #CA216C;
}

.badge-list .fa-fire {
  color: #EB7B00;
}

.badge-list .fa-star {
  color: #E1C034;
}

.badge-list .fa-flash {
  color: #B7EB00;
}

.badge-list .fa-clock-o {
  color: #B97BF5;
}

.badge-list .fa-comment {
  color: #1DA1F2;
}

.badge-list .fa-file-text {
  color: #66C8EC;
}

.blue-bg {
  background-color: #00B1CC;
}

.badge, .label, .panel-default > .panel-heading .badge {
  background: transparent;
  font-size: inherit !important;
  color: #9099A1 !important;
}

.post-flair {
  background-color: #004C92 !important;
  color: white !important;
  border-radius: 5px !important;
  padding: 1px 5px !important;
  font-weight: bold !important;
  font-size: 13px !important;
}

.badge-flair {
  background-color: #338A7C !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

.downvote-badge {
  font-size: 12px;
  color: white;
  padding: 2px 7px;
  border-radius: 20px;
  border: 1px solid rgba(239,83,80,0.5) !important;
}

.upvote-badge {
  font-size: 12px;
  color: white;
  padding: 2px 7px;
  border-radius: 20px;
  border: 1px solid rgba(55,174,155,0.5) !important;
}

#results-card .post-badge {
  margin-top: 5px;
}

.label a {
  color: white !important;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.low-weight {
  font-weight: 400;
}

.alert {
  border: none;
  background-color: #EDEDED;
  font-weight: 500;
}

.highlight {
  background-color: rgb(205,203,106,0.9);
  font-weight: bold;
  padding: 0 1px;
  color: #1F2327;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.capitalize {
  text-transform: capitalize;
}

blockquote {
  font-size: 14px;
}

.panel-heading {
  font-weight: bold;
  letter-spacing: 0px;
}

.sub-title {
  margin-top: -10px;
}

.breadcrumb {
  background: none;
  padding: 5px 15px;
  margin: 10px inherit;
}

.breadcrumb a {
  cursor: pointer;
}

.number {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.small-font {
  font-size: 14px;
}

.accordion .panel-group {
  margin-bottom: 0;
}

.accordion .panel-default {
  background-color: #1F2327;
  border: 0 !important;
}

.accordion .panel-default > .panel-heading {
  padding: 0 !important;
  cursor: pointer;
  background-color: #1F2327 !important;
}

.accordion .panel-body {
  border-top: none !important;
  padding: 0;
  color: #F5F5F5;
}

.submit-info .accordion .panel-body {
  padding: 15px 0 !important;
}

.user-page .fa-user-circle {
  font-size: 38px;
  padding-right: 8px;
}

#sub-page .fa-shield {
  font-size: 38px;
  padding-right: 18px;
}

.wrap-text {
  word-break: break-word;
}

.cursor {
  cursor: pointer;
}

.no-deco {
  outline: none;
  text-decoration: none;
}

.mobile-list {
  padding: 6px 0;
}

.badge {
  border-radius: 16px;
}

.sub-badge {
  background-color: #138270;
  color: #fff;
  display: inline-block;
  padding: .25em .8em 0.35em .8em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .75rem;
}

.sublink-badge a {
  color: white;
}

.sublink-badge {
  padding: 5px 50px;
  background: none !important;
  border: 1px solid #f96854;
}

.badge-list {
  line-height: 25px;
  font-size: 14px;
  padding-left: 10px;
}

.u-banner .sublink-badge {
  padding: 5px 80px;
  width: 300px;
}

.s-banner .sublink-badge {
  width: 250px;
}

.btn-info {
  color: #1F2327 !important;
  background-color: #9099A1;
  border-color: #9099A1;
  margin-right: -1px;
}

.btn-info:hover {
  background-color: #D1504E !important;
  border-color: #D1504E !important;
  color: white !important;
}

.input-group-btn button {
  height: 40px;
}

#main-search {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.gray-bg {
  background-color: #FAFAFA !important;
}

.reddit-btn {
  color: inherit;
}

.post-links .fa-arrow-up {
  color: #1DB3B0;
}

.post-links .fa-arrow-down {
  color: #ef5350;
}

.loading-msg {
  position: fixed;
  top: 53%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 999;
  font-weight: bold;
  font-size: 18px;
  color: white;
  width: 90%;
}

.loading-bg {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.margin-bottom {
  margin-bottom: 5px;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.no-pad {
  padding: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.margin-pad {
  margin-left: 10px;
  margin-right: 10px;
}

.small-pad {
  margin-left: 5px;
  margin-right: 5px;
}

.no-toppad {
  padding-top: 0;
}

.no-right-pad {
  padding-right: 0;
}

.no-left-pad {
  padding-left: 0;
}

.no-left-margin {
  margin-left: 0;
}

.no-right-margin {
  margin-right: 0;
}

.no-marginbottom {
  margin-bottom: 0;
}

.sort-dropdown {
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #2F3942 !important;
  color: #9CA5AD !important;
}

.form-control {
  border-radius: 3px !important;
  border: none !important;
  background-color: #2F3942 !important;
  color: #9CA5AD !important;
  height: 40px;
}

.sort-dropdown, .sub-form {
  width: 190px !important;
}

#main-view {
  background-color: #1F2327;
}

.nav-btn {
  background-color: #3F51B5;
  border-radius: 0 !important;
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 5px !important;
}

.nav-btn:hover {
  color: white;
}

.orange-text {
  color: rgb(249, 104, 84);
}

.gray-btn {
  background: transparent;
  border-color: white;
  border-radius: 0 !important;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}

.gray-btn:visited, .gray-btn:active, .gray-btn:focus {
  color: white;
}

.gray-btn:hover {
  color: #ef5350 !important;
}

.search-buttons {
  display: inline-block;
}

.search-buttons button {
  margin-right: 3px;
}

.load-btn {
  margin: 10px 0;
}

.top-btn {
  position: fixed;
  bottom: 35px;
  right: 2vw;
  z-index: 1000 !important;
  display: none;
  overflow: hidden;
}

.sub-btn {
  width: 10%;
}

.main-col {
  padding-left: 10px;
  padding-right: 10px;
}

.middle-col {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: 1px solid #4B5054;
  border-right: 1px solid #4B5054;
  width: 52%;
}

.col-lg-3 {
  width: 24% !important;
}

.user-head-nav .col-lg-3 {
  width: 25% !important;
}

.fixed {
  position: fixed;
}

.fixed-sides {
  height: 100%;
}

.overscroll {
  overflow-y: scroll;
}

.go-back:hover {
  color: white;
}

.card-box {
  background-color: #262B30 !important;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.fixed-right {
  width: 80%;
}

.card-box-content {
  padding: 10px 15px;
}

.sub-card-box {
  border-bottom: 1px solid #4B5054;
  background-color: #1F2327 !important;
  padding: 10px 15px;
  line-height: 19px;
}

.sub-card-box .badge {
  padding: 0 5px 0 0;
  font-weight: 500 !important;
}

.sub-card-box:hover, .sideRow:hover, #results-card:hover {
  background-color: #2D3339 !important;
}

.sub-card-box:hover .sub-name, .subside-list li strong:hover {
  color: #1DA1F2 !important;
}

.subside-list ol {
  margin-top: 10px;
  overflow-y: scroll;
}

.subside-list ol li {
  line-height: 30px;
  font-size: 16px;
}

.g-underline {
  border-bottom: 1px solid #4B5054;
  padding-bottom: 10px;
}

.g-underline-no-pad {
  border-bottom: 1px solid #4B5054;
  padding-bottom: 0;
}

.ending-line {
  border-bottom: 1px solid #4B5054;
}

.sub-font {
  font-size: 14px !important;
}

.list-card-box {
  margin-bottom: 0px !important;
}

.result-underline {
  border-bottom: 1px solid #4B5054;
  padding-bottom: 1px;
}

.sub-num {
  font-size: 20px;
  color: #3F51B5;
}

.purple-heading {
  font-size: 18px;
  color: #3F51B5;
}

.side-headers {
  color: white;
  font-size: 18px;
}

.headerRow {
  width: 100%;
  border-bottom: 1px solid #4B5054;
}

.side-pad {
  padding: 8px 15px;
}

.gray-bold-subtitle {
  color: rgb(79, 104, 122);
  font-weight: bold;
  font-size: 15px;
}

.small-icon {
  color: #BABABA;
}

.small-gray-font {
  color: rgb(79, 104, 122);
  font-weight: 400;
  font-size: 1.4rem;
}

.small-white-font {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
}

.num-rank {
  font-size: 18px;
}

.prev-img {
  width: 100%;
}

.prevName {
  font-size: 15px;
}

.top-sub-icon {
  width: 50%;
}

.gray-box {
  position: relative;
  min-height: 50px;
  min-width: 100%;
  border-radius: 5px;
}

.post-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-side-box:not(:last-child) {
  margin-bottom: 10px;
}

.sub-box:not(:last-child) {
  margin-bottom: 15px;
}

.gray-box-content {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 21%;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.sub-box {
  position: relative;
  height: 11vh;
  min-width: 100%;
  border-radius: 5px;
}

.comment-box {
  background: #404F9F;
}

.comment-box-bg::before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(64,79,159,.7);
  border-radius: 5px;
}

.submission-box {
  background: #5F5379;
}

.submission-box-bg::before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(95,83,121,.7);
  border-radius: 5px;
}

.top-sub-box {
  background: #4D4A4E;
}

.top-sub-box-bg::before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(77,74,78,.7);
  border-radius: 5px;
}

.sub-box-content {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 13%;
  text-align: center;
  width: 100%;
  z-index: 2;
  line-height: 23px;
}

.karma-col {
  padding-top: 5%;
}

.karma-col strong {
  font-size: 18px;
}

.post-count {
  height: 40px;
  line-height: 40px;
}

/************************
Angular Material
************************/

md-progress-linear {
  position: absolute;
  overflow: show;
  top: 50%;
  left: 35%;
  bottom: 0;
  right: 0;
  width: 30%;
  z-index: 999;
}

md-progress-circular {
  position: fixed;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.toggle-nav {
  position: fixed;
  font-size: 30px;
  right: 0;
  padding: 5px 20px 0 0;
}

md-progress-circular path {
  stroke: #ef5350;
}

md-select {
  margin-bottom: 0 !important;
}

md-option {
  height: 34px;
}

md-select-menu md-content md-option[selected] {
  background-color: #212121 !important;
}

md-select-menu md-content md-option[selected] span {
  color: white;
}

.md-select-menu-container {
  z-index: 1500 !important;
}

md-sidenav {
  width: 275px;
}

md-sidenav, md-sidenav md-content {
  background-color: #262B30;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: #212121;
}

md-input-container {
  margin: 0 0 10px 0;
}

md-input-container label {
  font-size: 15px;
  text-align: left;
  color: white;
}

md-input-container .md-input {
  width: 99%;
}

.md-toolbar-tools {
  font-weight: 500;
  font-size: 17px;
  margin-top: 2px;
}

md-toolbar h1 {
  padding-top: 110px !important;
  padding-bottom: 30px !important;
}

@media (min-width: 600px) {
  md-sidenav {
    max-width: 275px;
  }
}

@media (max-width: 456px) {
  md-sidenav {
    width: 275px;
    min-width: 275px;
    max-width: 275px;
  }
}

md-card {
  color: white;
  margin-top: 0px;
  box-shadow: none !important;
  background-color: inherit !important;
}

.panel-list md-card-title {
  padding: 20px;
}

.md-card-margin {
  margin-top: -1px;
}

.card-bottom-margin {
  margin-top: 16px;
  margin-bottom: 0;
}

.md-button {
  font-weight: 600 !important;
  margin-bottom: 10px;
}

.tooltip {
  font-size: 13px !important;
}

.limit-text {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  color: white;
}

.limit-text span {
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
}

.panel-box {
  border: 1px solid #e5e5e5;
  margin-top: -1px;
}

.card-shadow {
  box-shadow: 0 1px 5px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
}

/************************
Dropdown
************************/

.select-dropdown {
  width: auto;
}

.sort-row .select-dropdown {
  width: 120px;
}

.select-dropdown button {
  text-align: left;
  position: relative;
}

.select-dropdown button:before {
  position: absolute;
  content: "\f0d7";
  font-family: FontAwesome;
  right: 10px;
}

.dropdown-menu {
  width: auto;
  min-width: auto;
  background-color: #2D3339;
  color: #9099A1;
  z-index: 9999;
}

.dropdown-menu li {
  padding: 5px 10px;
}

.dropdown-menu li:hover {
  color: white;
  background-color: #1F2327;
}

/************************
Content
************************/

.content {

}

.container {
  margin: 0;
  position: relative;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0 !important;
}

.main-content {
  position: relative;
}

.width-pad, .banner-pad {
  padding-left: 7%;
  padding-right: 7%;
}

.middle-col-pad, .search-header {
  padding: 18px;
}

.column-pad, .profile-bar {
  padding-left: 18px;
  padding-right: 18px;
}

/* Main marketing message and sign up button */
.jumbotron {
  /*background-color: #292929;*/
  text-align: center;
  color: white;
  margin-top: 50px;
}

.jumbotron input {
  padding: 20px;
}

.jumbotron button {
  padding: 10px 15px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.default-banner {
  height: 150px;
  color: white;
  background-image: url('../images/default-bg.jpg');
  background-size: cover;
  background-position: 0 40%;
  font-weight: 400;
  margin-right: 0;
  width: 100%;
  position: relative;
  margin-top: 60px;
}

.custom-banner {
  height: 150px;
  position: relative;
  color: white;
  background-image: url('../images/default-bg.jpg');
  background-size: cover !important;
  background-position: center 0;
  font-weight: 400;
  margin-right: 0;
  width: 100%;
  position: relative;
  margin-top: 60px;
}

.banner-content {
  position: relative;
  z-index: 2;
  color: white;
}

.sub-shadow {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.4), 0px 1px 1px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.1);
}

.banner-subtitle {
  font-size: 15px;
}

.banner-badge {
  background: transparent;
  border: 1px solid #f96854;
  font-size: 14px;
  padding: 10px 20px;
  color: white;
}

.u-banner .banner-badge {
  min-width: 300px;
}

.s-banner .banner-badge {
  min-width: 250px;
}

.sub-bg {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-banner {
  height: 350px;
  padding-top: 90px;
  background-position: 0 50%;
}

.main-banner::after {
  content: "";
  display: block;
  position: absolute;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.search-banner {
  height: 250px;
  padding-top: 5vh;
  background-position: 0 50%;
}

.mobile-avatar {
  position: absolute;
}

.mobile-circle {
  position: absolute;
  top: 80px;
  left: 5px;
  display: block;
  background-color: rgb(0, 0, 0, 0.5);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-size: cover;
}

.small-sub-circle {
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  background-size: cover;
}

.default-logo {
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: black;
}

.side-logo {
  width: 45px;
}

.toggle-logo {
  width: 30px;
}

.sub-logo {
  width: 45px;
  padding: 10px;
  font-size: 18px;
}

.main-logo {
  width: 75px;
  padding: 17px;
  font-size: 30px;
}

.profile-logo {
  width: 120px;
  height: 120px;
  font-size: 60px;
  padding: 12px;
  position: absolute;
  top: 80px;
  left: 5px;
  display: block;
  border: 5px solid #fff;
}

.img-no-border {
  border: none !important;
}

.sub-banner {
  background-position: 0 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.side-banner {
  background-color: #1F2327;
}

.sub-banner .badge-col {
  text-align: right;
}

.sub-banner .col-sm-2 {
  text-align: right;
}

.banner-header h3 {
  text-align: center;
  font-weight: 600;
}

.banner-img {
  width: 10vw;
}

.img-border {
  border: 5px solid #fff;
}

.banner-container {
  height: 161px;
  max-height: 161px;
  overflow-y: hidden !important;
}

.title-heading {
  font-size: 17px;
  font-weight: 700;
}

.profile-bar {
  background-color: #1F2327;
  height: auto;
  color: white;
  padding-top: 5px;
  padding-bottom: 25px;
}

.table-bordered tr > td {
  font-weight: 400;
  color: #696969;
  letter-spacing: 1px;
  font-size: 13px;
}

#overview-table table {
  margin-bottom: 0;
}

#overview-table tr {
  height: 40px;
  max-height: 40px;
}

#overview-table td {
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.start-row {
  text-transform: uppercase;
  font-size: 11px !important;
  font-weight: 500 !important;
}

.top-line {
  font-size: 14px;
}

.shadow-text {
  text-shadow: 1px 2px #545454;
}

#search-subs {
  margin-top: 15px;
}

#search-subs .col-xs-1 {
  margin-top: 9px;
  background-color: #d1d1d1;
  border: 1px solid #ABABAB;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mobile-only {
  display: none;
}

.note-card {
  text-align: center;
  margin-top: 20px;
}

.div-box {
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
}

.post-box {
  margin-top: -5px;
  padding: 35px 0;
  border-left: none;
  border-right: none;
}

.searches .post-box {
  padding-left: 0;
  padding-right: 0;
}

.searches, .comment-list {
  padding: 18px;
  border-bottom: 1px solid #4B5054;
  margin-bottom: -2px;
}

#search-tab-bar a {
  color: #696969;
}


/************************
Navigation
************************/

.navbar-form {
  overflow: auto;
}
.navbar-form .form-control {
  display: inline-block;
}
.navbar-form .form-group {
  display: inline;
}

.navbar-default {
  background-color: #1F2327;
  border: none !important;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 35px;
  height: 60px;
  line-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .nav-link {
  color: #3F51B5 !important;
  font-weight: bold;
}

.navbar-default .nav-link:last-child {
  padding-left: 20px;
}

#navbar-links {
  margin-top: 15px;
}

.nav-pos {
  display: inline;
}

.navbar-default .btn-github {
  margin-top: 8px;
}

#searchbar {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 3px 20px -10px rgba(0,0,0,0.5);
  padding-left: 50px;
  padding-right: 60px;
}

.search-nav {
  padding-top: 8px;
  padding-bottom: 4px;
  border-left: 1px solid #4B5054;
  border-right: 1px solid #4B5054;
  height: 50px;
  margin-left: -8px !important;
}

.search-nav input {
  outline: none;
  border: 1px solid #e5e5e5 !important;
  width: 100%;
  margin-left: 39px;
}

.top-bar {
  height: 50px;
}

.top-brand {
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.middle-bar {
  position: fixed;
  z-index: 999;
  background-color: #1F2327;
  color: white;
  font-size: 18px;
  height: 60px;
  border-bottom: 1px solid #4B5054;
  line-height: 60px;
  padding: 0 18px;
  width: inherit;
}

.middle-mobile-bar {
  position: fixed;
  z-index: 999;
  background-color: #1F2327;
  color: white;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  padding: 0 18px;
  width: 100%;
  display: none;
}

.home-icon {
  font-weight: 700;
  font-size: 20px;
  color: #1DA1F2;
}

.sublist-nav {
  padding-top: 8px;
  padding-bottom: 4px;
}

.sublist-nav input {
  outline: none;
  border: 1px solid #e5e5e5 !important;
  width: 100%;
}

#nav-button {
  height: 35px;
  z-index: 999;
}

#nav-icon {
  font-size: 18px !important;
}

#search-strip {
  width: 100%;
}

#nav-btn {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-github {
  margin-left: 15px;
}

#nav-search a {
  color: white;
  display: inline !important;
}

.navbar [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.badge-num {
  font-size: 18px;
}

.karma-font {
  font-size: 14px;
}

/************************
Main Page
************************/

#sub-panels {
  overflow: hidden;
  padding: 15px 50px;
}

#sub-panels .card-box {
  width: 100% !important;
}

.panel-col {
  margin: 10px;
}

.panel-col .sideRow {
  padding: 0 10px;
}

.panel-col .side-pad {
  padding: 8px 25px;
}

.sub-panel-content {
  padding-left: 20px;
}

.sub-icon {
  margin-top: 10px;
}

.sub-panel-title {
  font-size: 1.8rem;
}

.sub-panel-category {
  font-size: 1.2rem;
}

.sub-panel-value {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 40px;
}

.md h1, .md h2, .md h3, .md h4, .md h5 {
  font-size: 14px;
}

/************************
User Page
************************/

#home-page {
  padding: 0;
}

.reddit-name {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.num-subs {
  color: #00B1CC;
  background-color: white;
  margin-top: 8px;
  font-size: 16px;
  padding: 5px 15px 7px 15px;
}

.banner-info {
  font-size: 18px;
  line-height: 85%;
}

.option-pos {
  margin-top: 1px;
}

#user-link-col {
  text-align: right;
  padding: 0;
  margin-top: 2.5%;
  margin-left: 0;
}

.user-page .row {
  margin: 0;
}

.table-icon {
  font-size: 60px;
  color: #66D7D1;
}

.stat-icon {
  width: 40px;
  margin-bottom: 10px;
}

.badge-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.badge-title {
  vertical-align: middle;
  line-height: 50px;
}

.user-head-nav {
  position: relative;
  background-color: #1F2327;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #4B5054;
}

.post-tab {
  font-size: 16px;
  padding: 15px 0;
  position: relative;
}

.underline-tab {
  border-bottom: 3px solid #ef5350;
  color: rgb(249, 104, 84);
}

.post-tab:hover {
  color: rgb(249, 104, 84);
}

.user-head-nav img {
  margin-top: 10px;
}

.middle-banner {
  padding-top: 2%;
}

.middle-banner .sub-stat {
  font-size: 25px;
  font-weight: bold;
}

#overview .col-md-1 img {
  display: none;
}

.overview {
  margin-left: 0px;
  margin-right: 0px;
}

.banner-subtext {
  font-size: 16px;
}

#not-found-div {
  height: 83vh;
}

.post-wing {
  margin-top: 50px;
}

.left-wing {
  margin-right: 10px;
  padding-right: 10px;
}

.right-wing {
  margin-left: 10px;
  padding-left: 10px;
}

.sub-box {
  padding: 0;
}

.rank-box {
  color: #A3A3A3;
  font-weight: bold;
  font-size: 20px;
}

.subpage-link {
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.subpage-link i {
  color: #1DA1F2;
}

.subname-box {
  padding: 4px 10px;
}

.subname-box .badge {
  margin: -3px 1px 0 1px;
  font-size: 11px;
  padding-top: 2px;
}

.subbox-stats {
  font-size: 14px;
}

.subbox-stats, .sub-text {
  vertical-align: middle;
  line-height: 30px;
}

#subreddits .row {
  margin: 0;
}

#sub-row md-card {
  margin: 0;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}

.user-name {
  margin-top: 5px;
  font-size: 1.7em;
}

.avatar-header div {
  display: inline-block;
}

.user-badge-card:hover {
  background-color: #F5F5F5;
}

.viewing-row {
  padding: 25px 0 10px 0;
}

#user-viewing {
  margin-top: 23px;
}

.table-subtext {
  font-size: 11px;
  letter-spacing: 1px;
}

.profile-btn {
  margin-left: 10px; margin-top: -5px;
}

.table-header {
  text-transform: uppercase;
  padding-bottom: 5px;
}

.table-header [class*='col-'] {
  padding: 0 10px;
}

.sort-header {
  vertical-align: middle;
  line-height: 30px;
  font-weight: 700;
  border: 1px solid #e5e5e5;
  border-right: none;
  padding-bottom: 2px;
  font-size: 14px;
}

/***********************
User Page Side Bar
************************/

.list-group-item, .panel-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.side-cards .pad-card {
  padding: 12px;
}

.side-cards .card-heading {
  color: #212121;
  font-weight: 600;
  padding: 12px;
}

.user-side {
  top: 0;
  left: 0;
}

#fixed-side .pad-card {
  padding-top: 19px;
  padding-bottom: 19px;
}

#fixed-side .card-action {
  background-color: #F5F5F5;
}

.fixed-pos {
  position: fixed;
  margin-top: 95px;
}

.side-username {
  font-weight: 600;
  font-size: 20px;
  word-wrap: break-word;
}

.visit-btn {
  padding-left: 20px;
  padding-right: 20px;
}

.heatmap {
  max-width: 100% !important;
}

.calendar-heatmap .label {
  font-weight: 400 !important;
  font-size: 12px !important;
}

/************************
Subreddit Table
************************/

.v-spacer {
  height: 15px;
}

.sub-table {
  padding-bottom: 100px;
  min-height: -webkit-calc(100vh - 330px);
  min-height: -moz-calc(100vh - 330px);
  min-height: calc(100vh - 330px);
}

.descript p {
  margin: 0 !important;
  word-wrap: break-word;
}

#sub-row .card-content {
  padding: 10px 20px;
}

#sub-rank [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.sub-name {
  font-size: 17px;
  font-weight: bolder;
}

.badge-name {
  font-size: 15px;
}

.sub-list-pts {
  font-size: 17px;
}

.post-title {
  font-size: 16px;
}

.prevRow:hover {
  color: rgb(249, 104, 84) !important;
}

.sideRow {
  padding: 2% 10px;
}

.sideRow:not(:last-child), .card-box-content:not(:last-child) {
  border-bottom: 1px solid #29343D;
}

.sub-icon-list {
  width: 80%;
  border-radius: 5px;
}

#more-subs {
  padding: 10px;
  margin-left: 9px;
  margin-right: 9px;
  border: 1px solid #e5e5e5;
}

#more-subs strong {
  font-size: 16px;
}

#more-subs:hover {
  background-color: white;
}

.table-headers {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.sort-col {
  border: 1px solid #e5e5e5;
  padding-left: 15px;
  border-radius: 3px;
}

.sort-title {
  padding-top: 6px;
  padding-bottom: 7px;
}

.box-title {
  font-size: 13px;
  font-weight: 500;
}

.count-title {
  padding-top: 5px;
  padding-bottom: 7px;
}

.card-sub {
  padding-top: 8px;
}

.side-fix {
  position: fixed;
  top: 115px;
  width: 19.3%;
  max-width: 19.3%;
}

.top-fix {
  position: fixed;
  top: 50px;
  z-index: 999;
  width: 42%;
}

/************************
User Sub Page
************************/

.nav-tabs li {
  text-decoration: none;
  outline: none;
}

.tab-badge {
  width: 40px;
}

#post-table {
  padding-top: 10px;
}

.post-links {
  font-weight: 600;
  margin-top: 6px;
}

.post-links:not(:last-child) {
  padding-right: 20px;
}

.post-links a {
  font-size: 14px;
  color: #9099A1;
}

.post-links a:hover {
  color: #ef5350;
}

.post-body {
  padding-top: 20px;
  color: #F5F5F5;
  font-weight: 400;
  font-size: 15px;
}

.post-body h1 {
  font-size: 22px;
}

.post-body h2 {
  font-size: 20px;
}

.post-body h3 {
  font-size: 18px;
}

.post-body h4 {
  font-size: 16px;
}

.post-body h5 {
  font-size: 14px;
}

.post-date {
  font-size: 14px;
  font-weight: 400 !important;
}

.post-points {
  font-size: 13px;
  font-weight: 600;
}

.paginate {
  text-align: right;
}

#top-paginate {
  padding-top: 22px;
}

.gilded-icon {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 16px;
}

.gilded-star {
  position: relative;
  display: inline-block;
  margin: 0 0 -15px 8px;
  top: -8px;
  color: #99895F;
  font-size: .9em;
  vertical-align: middle;
}

.gilded-star:before {
  display: inline-block;
  content: '';
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1639px;
  background-repeat: no-repeat;
  height: 14px;
  width: 13px;
  vertical-align: -3px;
}

.gild-font {
  color: #99895F;
  font-size: .9em;
}

.gilded-sub {
  top: -10px;
  margin-left: 4px;
}

.nav-tabs > li > a {
  border-radius: 0 0 2px 2px;
}

.post-card {
  margin-bottom: 15px;
}

.badge-row {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
}

.badge-row [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.banner-box {
  position: relative;
}

.banner-box md-card {
  padding: 10px;
}

.about-box {
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  height: 161px;
  overflow-y: scroll;
}

.sub-banner-img {
  width: 100%;
  margin-bottom: 10px;
}

.banner-text {
  position: absolute;
  left: 15px;
  bottom: 25px;
}

.banner-text span:not(.non-bg) {
  color: white;
  letter-spacing: -1px;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 8px 20px 8px 10px;
  font-weight: 600;
  font-size: 16px;
}

.dropdown-margin {
  margin-top: 5px;
}

.table-heads td {
  font-size: 11px !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  color: #333 !important;
}

.stats-title {
  font-size: 15px;
}

.bottom-pag {
  margin-left: 5px;
  margin-right: 5px;
}

.post-margin {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.no-posts {
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons-mobile {
  display: none;
}

.pagination-sm {
  margin: 0 !important;
}

.dropdown-left-col {
  padding-right: 7px;
}

.dropdown-right-col {
  padding-left: 7px;
}

.panel-default > .panel-heading {
  border: none !important;
}

.overview-body {
  padding-left: 10px;
  padding-right: 10px;
}

/************************
Sub Page Side Bar
************************/

#sidebar {
  font-weight: 400;
}

.side-stats {
  font-weight: 400;
  color: #333;
  font-size: 13px;
}

.table-pad {
  padding-top: 30px;
  padding-bottom: 30px;
}

.table-pad .row {
  margin-right: 0;
}

.sub-text {
  font-size: 13px;
}

.side-post {
  color: #333;
  font-weight: 400;
  word-wrap: break-word;
}

.side-stats .col-xs-8, .side-stats .col-xs-9 {
  font-size: 13px;
}

.submit-pic {
  display: block;
  margin: 0 auto;
  height: auto;
}

.smaller-pic {
  width: 100%;
}

.fuller-pic {
  max-width: 100%;
}

.post-content {
  height: 100%;
  width: 100%;
  color: #F5F5F5;
}

#stat-lines {
  padding-top: 15px;
  padding-left: 5px;
}

#stat-lines [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

#submit-stats {
  margin: 0;
  border: 1px solid #4B5054;
}

#submit-stats [class*="col-"] {
  height: 40px;
  vertical-align: middle;
  line-height: 35px;
}

.accordion-icon {
  vertical-align: middle;
  line-height: 30px;
}

.rank {
  font-size: 20px;
}

/************************
Submit Post Thumbnails
************************/

.thumb {
  width: 100%;
}

.post-thumbnail img {
  width: 100%;
}

.thumb-pic {
  width: 100%;
}

.thumb-default {
  background-image: url('../images/sprite-reddit.png');
  background-position: -20px -455px;
  background-repeat: no-repeat;
  height: 105px;
  width: 100px;
}

.thumb-beta-default {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1095px;
  background-repeat: no-repeat;
  height: 55px;
  width: 70px;
}

.thumb-self {
  background-image: url('../images/sprite-reddit.png');
  background-position: -20px -895px;
  background-repeat: no-repeat;
  height: 105px;
  width: 100px;
}

.thumb-beta-self {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1265px;
  background-repeat: no-repeat;
  height: 55px;
  width: 70px;
}

.thumb-image {
  background-image: url('../images/sprite-reddit.png');
  background-position: -20px -310px;
  background-repeat: no-repeat;
  height: 105px;
  width: 100px;
}

.thumb-beta-image {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1040px;
  background-repeat: no-repeat;
  height: 55px;
  width: 70px;
}

.thumb-nsfw {
  background-image: url('../images/sprite-reddit.png');
  background-position: -20px -603px;
  background-repeat: no-repeat;
  height: 105px;
  width: 100px;
}

.thumb-beta-nsfw {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1150px;
  background-repeat: no-repeat;
  height: 55px;
  width: 70px;
}

.thumb-spoiler {
  background-image: url('../images/sprite-reddit.png');
  background-position: -20px -748px;
  background-repeat: no-repeat;
  height: 105px;
  width: 100px;
}

.thumb-beta-spoiler {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1210px;
  background-repeat: no-repeat;
  height: 55px;
  width: 70px;
}

/************************
Search
************************/

.dummy-container {
  min-height: -webkit-calc(100vh - 360px);
  min-height: -moz-calc(100vh - 360px);
  min-height: calc(100vh - 360px);
}

#search-jumbotron {
  margin-top: 0;
}

#search-input {
  padding: 10px;
}

#results-card {
  padding: 3px 18px;
  background-color: #1F2327;
  margin-bottom: -1px;
  line-height: 19px;
}

.margin-bottom {
  margin-bottom: 0px !important;
}

#search-chevron {
  margin-top: 2px;
  text-align: right;
}

#search-title {
  padding: 7px 0;
  font-weight: 400 !important;
}

#search-title .badge {
  font-size: 14px !important;
}

#results-accordion .panel-body {
  background-color: #1F2327;
}

.results-sub {
  font-size: 16px !important;
}

#search-side-card {
  margin-top: 20px;
}

#results-card:hover {
  color: rgb(249, 104, 84);
}

#submit-col-search {
  padding: 12px;
}

.search-width {
  margin-left: 30px;
  margin-right: 30px;
}

/************************
Footer
************************/

/* Custom page footer */
.footer {
  font-size: 13px;
  background-color: #1F2327;
  font-weight: 400;
  z-index: 1 !important;
}

.footer a:hover {
  color: #ef5350;
}

/************************
Mobile
************************/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    width: inherit;
  }
}

@media screen and (max-width: 767px) {
  #subreddits .table-header {
    display: none;
  }

  .no-mobile {
    display: none;
  }

  .mobile-avatar {
    padding-top: 0;
  }

  .sub-btn {
    display: block !important;
  }

  .container {
    margin: 0;
    padding: 0;
    width: inherit;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 100% !important;
  }

  .middle-bar {
    display: none;
  }

  .middle-mobile-bar {
    display: block;
  }

  .form-control {
    height: 34px;
  }

  .input-group-btn button {
    height: 34px;
    margin-top: 4px;
  }

  .mobile-circle {
    display: block;
    background-color: rgb(0, 0, 0, 0.5);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-size: cover;
    top: 70px;
    left: 0px;
  }

  .profile-logo {
    width: 130px;
    height: 130px;
    font-size: 60px;
    padding: 18px;
    position: absolute;
    top: 70px;
    left: -8px;
    display: block;
    border: 5px solid #fff;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .banner-div .row {
    padding-left: 0;
    padding-right: 0;
  }

  .user-head-nav .col-xs-2 {
    width: 20% !important;
  }

  #sub-panel-stats [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .user-side, .heatmap {
    overflow: scroll !important;
  }

  .sub-rows {
    position: static;
    left: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .post-row {
    padding-left: 0;
    padding-right: 0;
  }

  .pie-box-left {
    border-top: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-bottom: none;
  }

  .pie-box-right {
    border-top: none;
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
  }

  .nav-btn {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  .avg-box, .sub-page .mobile-circle {
    display: none;
  }
  .mobile-filter, .mobile-card, .ipad-avg-box {
    display: block !important;
  }

  .gray-box {
    height: 8.5vh;
  }

  .sub-box {
    height: 95px;
  }

  .gray-box-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .word-cloud {
    height: 24vh !important;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-default, #searchbar, .search-content .breadcrumb, #sub-panels {
    padding-left: 16px;
    padding-right: 16px;
  }

  .search-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
  }

  .sub-rows .row {
    margin-left: 0;
    margin-right: 0;
  }

  .sub-rows, .user-side, #sidebar {
    padding: 5px;
  }

  .container, #results-table, .search-content, #sub-panels, #sub-row .card-content {
    padding-left: 0;
    padding-right: 0;
  }

  .reddit-name {
    font-size: 25px;
    display: block;
  }

  .num-subs {
    margin-left: 0;
    margin-top: 10px;
    font-size: 18px;
  }

  #results-accordion .panel-body {
    padding: 0;
  }

  #submit-col {
    width: 100%;
    border: none;
  }

  #search-page .breadcrumb {
    margin-top: 20px;
  }

  .sub-banner-img {
    height: 100% !important;
  }

  .user-banner {
    text-align: center;
  }

  .middle-col {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .paginate {
    text-align: center;
  }

  #sub-panel-stats .span {
    display: block;
  }

  .option-pos {
    display: none;
  }

  #search-strip .col-xs-10 {
    margin-top: -2px;
  }

  .pull-center {
    text-align: center !important;
  }

  #results-table {
    padding-left: 0;
    padding-right: 0;
  }

  .sub-info {
    padding-left: 15px !important;
  }

  .sub-table-col {
    padding-left: 15px !important;
  }
}

@media screen and (max-width: 1024px) {

  #sort-dropdown {
    padding-left: 15px;
  }

  .overview-body {
    padding: 0;
  }

  .content {
    padding-top: 50px;
  }

  .sort-header {
    display: none;
  }

  .search-sub-col {
    padding-right: 15px;
  }

  .table-pad {
    padding: 10px 5px 20px 5px;
  }

  .user-page, #since-date, .right-box {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .small-pad {
    margin-left: 0;
    margin-right: 0;
  }

  .banner-subtext {
    margin-top: 10px;
  }

  .header-refresh h4 {
    font-size: 1.1em;
  }

  #subreddits .col-xs-8 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .non-mobile-only, #slash, .hidden-mobile, #overview .fa-reddit,
   #overview-table i, .hide-break, .accordion-hidden, .mobile-sub-search {
    display: none;
  }

  #since-date a, .mobile-accordion, .mobile-sub-header {
    display: block !important;
  }

  .banner-info {
    margin-left: 0;
    padding-top: 15px;
  }

  .submit-pic {
    max-width: 100%;
  }

  .mobile-center, #results-card .col-md-1, .table, .table-heads th, .sub-banner .badge-col  {
    text-align: center;
  }

  .search-header {
    padding: 3px 0;
  }

  #home-page .table-pad {
    padding-top: 10px;
  }

  .center-value-comments, .center-value-submissions {
    font-size: 15px;
  }

  .line-1-comments, .line-1-submissions {
    font-size: 14px;
  }

  iframe, video {
    height: 30vh;
  }

  #overview-table .col-sm-12, .sub-table, #table-head, .user-head-nav, .search-content,
  .activity-table, .table-options {
    padding-left: 0;
    padding-right: 0;
  }

  .banner-text span {
    font-size: 14px !important;
  }

  #overview .col-md-1 {
    text-align: center;
  }

  #overview .col-md-1 img {
    display: inline-block;
  }

  .banner-subtext {
    font-size: 15px;
  }

  .loading-msg {
    margin-top: 5px;
  }

  .sub-name {
    font-size: 16px;
    word-wrap: break-word;
  }

  #main-subtitle {
    font-size: 18px;
  }

  #more-subs, .badge-row [class*='col-'], #submit-col {
    padding: 0;
  }

  #sub-panels .col-lg-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heatmap {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .header-refresh {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .card-action .post-badge, .card-action h4 {
    padding-left: 0;
  }

  .sort-col {
    border: none;
  }

  .sort-title {
    padding-bottom: 3px;
  }

  .box-title, #subreddits {
    margin: 0;
  }

  #user-viewing {
    margin-top: 0;
  }

  .viewing-row {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .buttons-mobile {
    display: inline !important;
    margin-left: 15px;
    margin-right: 15px;
  }

  #search-banner {
    padding-left: 15px;
    padding-right: 15px;
  }

  #more-subs {
    padding-top: 5px;
  }

  .profile-img img {
    width: 75px;
    height: 75px;
  }

  .post-wing {
    margin-top: 30px;
  }

  .viewing-title, #table-start, #searching {
    padding-left: 15px;
    padding-right: 15px;
  }

  .user-reddit-btn {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .user-reddit-div {
    margin-top: 10px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .mobile-only {
    display: block;
  }

  .cloud-box div {
    padding: 0;
  }

  #user-viewing {
    padding-bottom: 0;
  }

  .profile-btn {
    margin-left: 0;
  }

  .user-badge-card, .banner-col {
    padding-left: 0;
    padding-right: 0;
  }

  .post-thumbnail {
    padding-right: 0;
    padding-left: 0;
  }

  .submit-info {
    padding-right: 0;
  }

  .md-toolbar-tools {
    margin-top: 15px;
  }

  #sub-row md-card {
    margin-left: 0;
    margin-right: 0;
    border-left: none;
    border-right: none;
  }

  .search-body {
    margin-left: 15px;
  }

  .sub-info {
    padding-right: 15px !important;
  }

  .sub-banner-img {
    height: auto !important;
  }

  .banner-container {
    height: auto !important;
    max-height: auto !important;
  }

  #statistics .row {
    width: 100% !important;
  }

  .about-box, .sub-table .div-box {
    border-left: none !important;
    border-right: none !important;
    height: 100%;
  }

  .about-box {
    padding-left: 0;
    padding-right: 0;
  }

  .post-box {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cloud-box .div-box {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #pies md-card {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .comment-links {
    float: left !important;
    margin-top: 5px;
  }

  .word-cloud {
    height: 500px !important;
    width: 90% !important;
  }

  .loading-msg {
    margin-top: 1vh !important;
  }

  .calendar-heatmap {
    max-width: 100% !important;
  }

  .post-thumbnail img {
    width: 100% !important;
  }

  .panel-box, accordion .panel {
    border: none !important;
  }

  .results-sub {
    font-size: 1em !important;
  }

  .navbar-default .nav-link:last-child {
    padding-left: 5px;
  }

  .gilded-icon {
    margin-left: 0;
  }
 }

 @media screen and (max-width: 1200px) {
   .best-posts {
     display: none;
   }
 }

 @media screen and (max-width: 1024px) {
   .content {
     padding-top: 0;
   }

   .dropdown-menu {
     line-height: 20px;
   }

   .sub-list-pts {
     padding-right: 0;
     font-size: 17px;
   }

   #sub-panels .card-box {
     width: inherit !important;
   }

   #mobile-input {
     display: block !important;
   }

   .sub-tab {
     display: none;
   }

   #testInput {
     margin-top: 5px;
   }

   .middle-banner {
     font-size: 0.9em !important;
   }

   .middle-banner .sub-stat {
     font-size: 1.5em;
   }

   .user-name {
     font-size: 1.8em;
   }

   .nav-link {
     font-size: 1.4em !important;
   }

   .sub-name {
     font-size: 16px;
   }

   .rank-box {
     font-size: 1.3em;
   }

   .user-badge-card {
     font-size: 0.8em;
   }

   .light-gray {
     font-size: 0.9em;
   }

   #overview-table td {
     font-size: 0.6em !important;
     padding: 5px !important;
   }

   #overview-table tr {
     height: 25px;
     max-height: 25px;
   }

   .loading-msg {
     padding-top: 5vh;
   }

   .navbar-brand {
     padding-left: 0;
   }

   .user-reddit-btn .md-button {
     width: 100%;
   }

   .searches, #results-accordion .panel-body {
     padding-left: 0 !important;
     padding-right: 0 !important;
   }

   .panel {
     border: none !important;
   }

   .div-box {
     border-left: none !important;
     border-right: none !important;
     margin: 0;
   }

   .search-body {
     margin-left: 0;
   }

   .word-cloud {
     height: 300px !important;
     width: 100% !important;
   }

   .select-dropdown {
     margin-top: 5px;
   }

   .sort-row .select-dropdown {
     width: 120px;
   }

   .no-left-margin {
     margin-left: 15px;
   }

   .no-right-margin {
     margin-right: 15px;
   }

   .sub-table-col {
     margin-bottom: 15px;
   }

   .div-box {
     border-bottom: none;
   }

   .default-banner .sub-circle, .last-seen, .sub-row-stats {
     display: none !important;
   }

   .mobile-last-seen, .mobile-row-stats {
     display: block !important;
   }

  .mobile-row-stats {
    margin-top: 5px;
  }

  .width-pad {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .num-rank {
    font-size: 18px;
  }

  .top-fix {
    top: -webkit-calc(100vh - 50px);
    top: -moz-calc(100vh - 50px);
    top: calc(100vh - 50px);
  }

  .top-fix-safari {
    position: fixed;
    top: 90px;
    z-index: 999;
    width: 100%;
  }

  .search-panel {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile-filter, .mobile-card, .avg-box {
    display: block !important;
  }

  .center-tabs {
    padding-left: 15vw !important;
  }

  .sub-card-box {
    padding-left: 18px;
    padding-right: 18px;
  }

  .sub-innner-row, .prevRow .sub-cells {
    padding: 0;
    text-align: left;
  }

  .sub-inner-row {
    padding-left: 0 !important;
  }

  .nav-pad {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }

  .u-banner .banner-content {
    padding-top: 5px;
    position: relative;
    z-index: 2;
  }

  .sub-box {
    height: 100px;
  }

  .sub-box-content {
    top: 15%;
  }

  .search-results-num {
    display: none;
  }

  .jumbotron {
    border: none;
    margin-bottom: 10px;
  }

  .underline-tab {
    border: none;
  }

  .post-count {
    line-height: 20px;
  }

  .sublink-badge {
    margin-top: 6px;
    padding: 5px 30px !important;
  }

  .u-banner .mobile-avatar {
    padding-top: 0;
  }

  .banner-badge, .sublink-badge {
    width: auto !important;
    min-width: auto !important;
  }

  .mobile-title {
    font-size: 0.8em !important;
  }

  .main-logo {
    width: 60px;
    font-size: 20px;
    padding: 15px;
  }

  .md-media-sm {
    width: 60px !important;
    height: 60px !important;
  }

  .toggle-nav {
    display: none;
  }

  .banner-subtitle {
    font-size: 15px;
  }

  .mobile-break {
    display: block !important;
  }

  .post-count {
    height: auto;
  }

  .sort-dropdown, .sub-form {
    width: 25vw !important;
    margin-top: 0 !important;
    font-size: 14px;
  }

  .footer {
    padding: 30px 15px;
  }

  .comment-div {
    padding-bottom: 25px;
  }

  .map-scroll {
    overflow: scroll;
  }
}

@media screen and (max-width: 500px) {
  .sort-dropdown, .sub-form {
    width: 44vw !important;
    margin-top: 0 !important;
    font-size: 14px;
  }

  .mobile-filters {
    text-align: left;
    padding-left: 15px;
  }

  .top-brand {
    font-size: 20px;
  }

  .sub-list-pts {
    padding-right: 0;
    font-size: 16px;
  }

  #sub-row, .num-rank, .sub-name, .sub-list-pts {
    font-size: 14px !important;
  }

  #sub-panels .col-lg-6, .panel-col .sideRow, .panel-list md-card-title {
    padding-left: 0;
    padding-right: 0;
  }

  .input-group-btn button {
    margin-top: 0;
  }

  #search-strip .input-group-btn button {
    margin-top: 2px;
  }

  .post-tab {
    font-size: 15px;
  }

  .main-banner {
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .word-tab {
    display: none;
  }

  .icon-tab {
    display: block !important;
  }
}

@media screen and (max-width: 350px) {
  .banner-badge {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .sort-dropdown, .sub-form {
    width: 43vw !important;
    margin-top: 0 !important;
  }

  .dropdown-menu, .sort-dropdown, .sub-form {
    font-size: 12px;
  }
}

@media screen and (max-height: 500px) {
  .mobile-circle {
    top: 10px;
  }
}

@media screen and (min-width: 993px) {
  .banner-div .width-pad {
    padding-left: 15% !important;
    padding-right: 10% !important;
  }

  .header .width-pad {
    padding-left: 5% !important;
  }

  .col-lg-4 {
    width: 30% !important;
  }

  .col-lg-8 {
    width: 60% !important;
    margin-left: 2% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
  .width-pad {
    padding-left: 9% !important;
    padding-right: 7% !important;
  }

  .col-md-4 {
    width: 30% !important;
  }

  .col-md-8 {
    width: 60% !important;
    margin-left: 1% !important;
  }
}

@media screen and (max-height: 500px) {
  .mobile-circle, .profile-logo {
    top: 70px;
  }
}
