/************************
Utility
************************/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #383838;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #383838;
  background-color: inherit !important;
}

a {
  text-decoration: none !important;
}

.center {
  text-align: center;
}

.green {
  color: #1DB3B0;
}

.orange {
  color: #E33900;
}

.purple {
  color: #5552B3;
}

.baby-blue {
  color: #12C5E0;
}

.dark-gray {
  color: #333;
}

.gray {
  color: gray;
}

.label a {
  color: white !important;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.alert {
  border: none;
  background-color: #EDEDED;
  font-weight: 500;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.capitalize {
  text-transform: capitalize;
}

blockquote {
  font-size: 14px;
}

.panel-heading {
  font-weight: bold;
  letter-spacing: 1px;
}

.sub-title {
  margin-top: -10px;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

.number {
  font-size: 15px;
  font-weight: bold;
}

.small-font {
  font-size: 12px;
}

#accordion .panel-default {
  margin-top: 5px;
  margin-bottom: -10px;
}

#accordion .panel-default > .panel-heading {
  padding: 2px 5px;
  cursor: pointer;
}

.fa-reddit {
  font-size: 33px;
  padding-right: 8px;
}

/************************
Content
************************/

.container {
  margin: 0;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0 !important;
}

.main-content {
  position: relative;
  top: 90px;
}

.width-pad {
  padding-left: 50px;
  padding-right: 65px;
}

/* Main marketing message and sign up button */
.jumbotron {
  /*background-color: #292929;*/
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  color: white;
  margin-top: -40px;
  padding-bottom: 50px !important;
}

.jumbotron input {
  padding: 20px;
}

.jumbotron button {
  padding: 10px 15px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

md-progress-circular {
  position: fixed;
  overflow: show;
  margin: auto;
  top: 0;
  left: -20px;
  bottom: 0;
  right: 0;
}

md-progress-circular:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.user-banner {
  color: white;
  background-image: url('../images/icon-bg.png');
  background-position: 0 50%;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 700;
}

.sub-banner {
  color: white;
  background-image: url('../images/icon-bg.png');
  background-position: 0 30%;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 700; 
}

submit-content {
  word-wrap: break-word; 
}

/************************
Navigation
************************/

.navbar-form {
    overflow: auto;
}
.navbar-form .form-control {
    display: inline-block;
}
.navbar-form .form-group {
    display: inline;
}

.navbar-default {
  background-color: #5552B3;
  border: none;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.navbar-default a.nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar-default .btn-github {
  margin-top: 8px;
}

#searchbar {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 3px 20px -10px rgba(0,0,0,0.5);
  padding-left: 50px;
  padding-right: 60px;
}

#search-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
}

#search-nav input {
  outline: none;
  border: none !important;
  width: 100%;
}

#search-nav .col-xs-1 {
  width: 35px;
}

#nav-btn {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-github {
  margin-left: 15px;
}

#nav-search a {
  color: white;
  display: inline !important;
}

/************************
Main Page
************************/

#sub-panels {
  margin-top: 90px;
  padding: 50px 35px;
}

.sub-icon {
  width: 75px;
}

h2 {
  font-size: 40px;
}

.sub-panel {
  min-height: 110px;
}

/************************
User Page
************************/

#home-page {
  padding: 0;
}
 
#reddit-name {
  color: white;
  font-size: 34px;
}

#since-date {
  margin-top: 50px;
  font-size: 18px;
}

#num-subs {
  margin-left: 10px;
  margin-top: -16px;
  font-size: 24px !important;
}

/************************
User Page Side Bar
************************/

.user-side {
  margin-top: -115px;
}

.list-group-item, .panel-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

/************************
Subreddit Table
************************/

.sub-table {
  padding: 40px 35px;
}

.sub-rows {
  padding-right: 30px;
  padding-bottom: 20px;
}

#sub-row {
  margin-bottom: 10px;
}

#sub-row:hover {
  background-color: #F5F5F5;
}

#sub-row .panel-body {
  padding: 10px 0;
}

#sub-heading {
  border-bottom: none !important;
}

#sub-rank [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

#sub-name {
  font-size: 16px;
  font-weight: bold;
}

/************************
User Sub Page
************************/

.nav-tabs li {
  text-decoration: none;
  outline: none;
}

.tab-badge {
  background-color: #5552B3;
  width: 40px;
}

#post-table {
  padding-top: 10px;
}

.post-links {
  margin-top: 6px;
}

.post-links {
  font-weight: 600;
  padding-right: 10px;
}

.post-links a {
  color: gray;
  font-size: 13px;
}

.post-links a:hover {
  color: #5552B3;
}

.post-body {
  padding-top: 10px;
  word-wrap: break-word;
  color: #383838;
  font-weight: 400;
}

.post-date {
  font-weight: 600;
}

.post-points, .post-date {
  font-size: 13px;
  font-weight: 600;
}

#submit-row {
  padding-left: 30px;
}

.post-thumbnail {
  padding-left: 0;
  padding-right: 0;
}

.post-thumbnail img {
  width: 55px;
  margin-left: 0px;
}

#post-table i.glyphicon {
  margin-top: 5px;
  font-size: 20px;
}

.table-options {
  padding-right: 5px;
}

.paginate {
  text-align: right;
}

#top-paginate {
  padding-top: 20px;
}

.gilded-icon {
  position: relative;
  display: inline-block;
  margin: 0 0 -15px 8px;
  top: -8px;
  color: #99895F;
  font-size: .9em;
  vertical-align: middle;
}

.gilded-icon:before {
  display: inline-block;
  content: '';
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1639px;
  background-repeat: no-repeat;
  height: 14px;
  width: 13px;
  margin-right: 2px;
  vertical-align: -3px;
}

#back-up {
  padding-top: 10px;
}

/************************
Sub Page Side Bar
************************/

#sidebar {
  font-weight: 400;
}

.side-stats {
  font-weight: 400;
  color: gray;
}

.sub-side-stats .glyphicon {
  color: #1DB3B0;
}

.sub-side-stats .col-xs-8 {
  font-size: 13px;
}

.table-pad {
  padding: 30px 50px;
}

.sub-text {
  font-size: 13px;
}

.side-post {
  color: #333;
  font-weight: 400;
  word-wrap: break-word;
}

.side-stats .col-xs-8, .side-stats .col-xs-9 {
  font-size: 13px;
}

.submit-pic {
  max-width: 500px;
}

/************************
Submit Post Thumbnails
************************/

.thumb {
  float: left;
  font-size: 0;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-top: 0;
  margin-left: -8px;
  overflow: hidden;
  width: 70px;
}

.thumb-default {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1099px;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  height: 50px;
}

.thumb-self {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1267px;
  background-repeat: no-repeat;
  height: 50px;
}

.thumb-image {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1043px;
  background-repeat: no-repeat;
  height: 50px;
}

.thumb-nsfw {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1155px;
  background-repeat: no-repeat;
  height: 50px;
}

.thumb-spoiler {
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1211px;
  background-repeat: no-repeat;
  height: 50px;
}

/************************
Footer
************************/

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/************************
Mobile
************************/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    width: inherit;
  }
}

@media screen and (max-width: 768px) {
  .navbar-default {
    padding-left: 10px;
    padding-right: 10px;
  }

  #searchbar, .user-banner {
    padding-left: 5px;
    padding-right: 5px;
  }

  .user-banner .row, .sub-rows .row {
    margin-left: 0;
    margin-right: 0;
  }

  .table-pad, .sub-table, .sub-rows, .user-side, #sidebar {
    padding: 5px;
  }

  .container, .user-banner .col-md-8, #sub-panels {
    padding-left: 0;
    padding-right: 0;
  }

  #sub-row .col-xs-4 {
    margin-top: 10px;
  }

  #table-head [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  #reddit-name {
    font-size: 25px;
    display: block;
  }

  #num-subs {
    margin-left: 0;
    margin-top: 10px;
    float: left;
  }

}

@media screen and (max-width: 1000px) {
  .paginate {
    text-align: center;
  }

  .sub-table select {
    width: 100%;
  }

  .user-side, #sidebar {
    margin-top: 0;
  }
}