/************************
Utility
************************/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #383838;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #383838;
  background-color: inherit !important;
  position: relative;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #12C5E0;
}

a:focus, div:focus, span:focus {
  outline: none;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.yellow {
  color: #E8D125;
}

.green {
  color: #1DB3B0;
}

.orange {
  color: #FF742E;
}

.purple {
  color: #5552B3;
}

.baby-blue {
  color: #00B1CC;
}

.bright-blue {
  color: #D9F2FA;
}

.dark-gray {
  color: #333;
}

.text-gray {
  color: #696969;
}

.gray {
  color: #696969;
}

.black {
  color: #212121;
}

.main-color {
  color: #383838;
}

.badge, .label {
  background-color: #6E6E6E;
}

.label a {
  color: white !important;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.low-weight {
  font-weight: 400;
}

.alert {
  border: none;
  background-color: #EDEDED;
  font-weight: 500;
}

.highlight {
  background: #FFDC7A;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.capitalize {
  text-transform: capitalize;
}

blockquote {
  font-size: 14px;
}

.panel-heading {
  font-weight: bold;
  letter-spacing: 1px;
}

.sub-title {
  margin-top: -10px;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

.number {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.small-font {
  font-size: 12px;
}

.accordion .panel-group {
  margin-bottom: 0;
}

.accordion .panel-default {
  background-color: #FAFAFA;
  border: none;
}

.accordion .panel-default > .panel-heading {
  padding: 0 !important;
  cursor: pointer;
}

.accordion .panel-body {
  border-top: none;
  padding-top: 10px;
}

.user-page .fa-user-circle {
  font-size: 38px;
  padding-right: 8px;
}

#sub-page .fa-shield {
  font-size: 38px;
  padding-right: 18px;
}

.fa-reddit {
  font-size: 42px;
  padding-left: 0px;
  margin-right: 5px;
}

.wrap-text {
  word-wrap: break-word;
}

.cursor {
  cursor: pointer;
}

.no-deco {
  outline: none;
  text-decoration: none;
}

.mobile-list {
  padding: 6px 0;
}

.badge {
  border-radius: 16px;
}

.btn {
  border-radius: 2px;
}

.btn-sm {
  padding: 2px 10px;
}

.btn-sm:hover {
  background-color: #00B1CC;
  color: white;
}

.btn-info {
  background-color: #212121;
  border-color: #212121;
}

.gray-bg {
  background-color: #FAFAFA !important;
}

.white-bg {
  background-color: white !important;
}

.center-back {
  margin-bottom: 20px;
}

.reddit-btn {
  color: inherit;
}

.border-box {
  border: 1px solid #D6D6D6;
  padding: 5px 10px 10px 10px;
}

.right-box {
  text-align: right;
}

/************************
Angular Material
************************/

md-progress-circular {
  position: fixed;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

md-progress-circular:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
}

md-progress-circular path {
  stroke: #00B1CC;
}

md-select {
  margin-bottom: 0 !important;
}

md-option {
  height: 34px;
}

md-select-menu md-content md-option[selected] {
  background-color: #212121 !important;
}

md-select-menu md-content md-option[selected] span {
  color: white;
}

.md-select-menu-container {
  z-index: 1500 !important;
}

md-sidenav {
  width: 275px;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: #212121;
}

md-input-container {
  margin-bottom: 0;
}

md-input-container label {
  text-align: left;
}

.md-toolbar-tools {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
}

md-toolbar h1 {
  padding-top: 110px !important;
  padding-bottom: 30px !important;
}

@media (min-width: 600px) {
  md-sidenav {
    max-width: 275px;
  }
}

@media (max-width: 456px) {
  md-sidenav {
    width: 275px;
    min-width: 275px;
    max-width: 275px;
  }
}

/************************
Dropdown
************************/

.select-dropdown {
  width: 100%;
  margin-top: 20px;
}

.select-dropdown button {
  text-align: left;
  position: relative;
}

.select-dropdown button:before {
  position: absolute;
  content: "\f0d7";
  font-family: FontAwesome;
  right: 10px;
}

.dropdown-menu {
  width: inherit;
}

.dropdown-menu li {
  padding: 5px 10px;
}

.dropdown-menu li:hover {
  color: white;
  font-weight: bold;
  background-color: black;
}

/************************
Content
************************/

.content {
  padding-top: 50px;
}

.container {
  margin: 0;
  position: relative;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0 !important;
}

.main-content {
  position: relative;
}

.width-pad {
  padding-left: 50px;
  padding-right: 50px;
}

/* Main marketing message and sign up button */
.jumbotron {
  /*background-color: #292929;*/
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  color: white;
}

.jumbotron input {
  padding: 20px;
}

.jumbotron button {
  padding: 10px 15px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.user-banner {
  color: white;
  background-image: url('../images/alt-banner.png');
  background-size: auto;
  background-position: 0 15%;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 700;
  margin-right: 0;
}

.sub-banner {
  background-position: 0 16%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0;
}

.sub-banner .badge-col {
  text-align: right;
}

.sub-banner .col-sm-2 {
  text-align: right;
}

.banner-header h3 {
  text-align: center;
  font-weight: 600;
}

.banner-img {
  width: 55px;
  margin-top: -5px;
}

.title-heading {
}

.table-bordered tr > td {
  font-weight: 500;
  color: #696969;
  letter-spacing: 1px;
  font-size: 13px;
}

.top-line {
  font-size: 14px;
}

.shadow-text {
  text-shadow: 2px 3px #333;
}

/************************
Navigation
************************/

.navbar-form {
  overflow: auto;
}
.navbar-form .form-control {
  display: inline-block;
}
.navbar-form .form-group {
  display: inline;
}

.navbar-default {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: #5552B3;
  font-weight: bold;
  font-size: 2em;
}

.navbar-default .nav-link {
  color: #5552B3 !important;
  font-weight: bold;
}

.navbar-default .nav-link:last-child {
  padding-left: 20px;
}

#navbar-links {
  margin-top: 15px;
}

.nav-pos {
  display: inline;
}

.navbar-default .btn-github {
  margin-top: 8px;
}

#searchbar {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 3px 20px -10px rgba(0,0,0,0.5);
  padding-left: 50px;
  padding-right: 60px;
}

#search-nav {
  padding-top: 8px;
  padding-bottom: 4px;
  border-top: 1px solid #e5e5e5;
}

#search-nav input {
  outline: none;
  border: none !important;
  width: 120%;
}

#search-nav .col-xs-1 {
  width: 2%;
}

#search-strip {
  width: 100%;
}

#search-nav .glyphicon-search {
  font-size: 20px;
}

#nav-btn {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-github {
  margin-left: 15px;
}

#nav-search a {
  color: white;
  display: inline !important;
}

.navbar [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

/************************
Card
************************/

.card {
  background-color: #FAFAFA;
  border-radius: 2px !important;
  margin-bottom: -1px;
  border: 1px solid #D6D6D6;
  outline: none;
}

.side-cards .card-content {
  padding: 16px 24px;
  border-radius: 0 0 2px 2px;
  outline: none;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.side-cards .card-action {
  position: relative !important;
  border-top: 1px solid rgba(160,160,160,0.2) !important;
  padding: 4px;
  outline: none;
}

.card-action:hover {
  background-color: #F5F5F5;
}

/************************
Main Page
************************/

#sub-panels {
  overflow: hidden;
  padding: 15px 35px;
}

#sub-panels .col-md-6 {
  margin-bottom: 30px;
}
 
.sub-icon {
  width: 75px;
}

h2 {
  font-size: 40px;
}

/************************
User Page
************************/

#home-page {
  padding: 0;
}
 
.reddit-name {
  color: white;
  font-size: 30px;
}

.num-subs {
  color: #00B1CC;
  background-color: white;
  margin-top: 8px;
  font-size: 16px;
  padding: 5px 15px 7px 15px;
}

.banner-info {
  font-size: 18px;
  line-height: 85%;
}

.option-pos {
  margin-top: 1px;
}

#user-link-col {
  text-align: right;
  padding: 0;
  margin-top: 2.5%;
  margin-left: 0;
}

.user-page {
  padding-left: 5%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.table-icon {
  font-size: 60px;
  color: #66D7D1;
}

.stat-icon {
  width: 75px;
}

#user-badges .col-md-4 {
  margin-bottom: 20px;
}

.user-head-nav {
  display: none;
}

.user-head-nav a {
  color: inherit;
}

#overview .col-md-1 img {
  display: none;
}

.overview {
  margin-left: 0px;
  margin-right: 0px;
}

.banner-subtext {
  font-size: 16px;
}
 
/***********************
User Page Side Bar
************************/

.list-group-item, .panel-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.side-cards .pad-card {
  padding: 12px;
}

.side-cards .card-heading {
  color: #212121;
  font-weight: 600;
  padding: 12px;
}

.user-side {
  top: 0;
  left: 0;
}

#fixed-side .pad-card {
  padding-top: 19px;
  padding-bottom: 19px;
}

#fixed-side .card-action {
  background-color: #F5F5F5;
}

#fixed-side .card-action:hover {
  background-color: white;
}

.fixed-pos {
  position: fixed;
  margin-top: 100px;
}

.side-username {
  font-weight: 600;
  font-size: 20px;
  word-wrap: break-word;
}

/************************
Subreddit Table
************************/

.sub-table {
  padding-top: 20px;
}

.sub-rows {
  padding-left: 5%;
}

#sub-row:hover, #more-subs:hover {
  background-color: #F5F5F5;
}

#sub-row .card-content {
  padding: 10px 20px;
}

#sub-rank [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

#sub-name {
  font-size: 16px;
  font-weight: bold;
}

#more-subs {
  padding: 10px;
}


/************************
User Sub Page
************************/

.nav-tabs li {
  text-decoration: none;
  outline: none;
}

.tab-badge {
  width: 40px;
}

#post-table {
  padding-top: 10px;
}

.post-links {
  margin-top: 6px;
}

.post-links {
  font-weight: 600;
  padding-right: 10px;
}

.post-links a {
  color: gray;
  font-size: 13px;
}

.post-links a:hover {
  color: #5552B3;
}

.post-body {
  padding-top: 10px;
  font-size: 14px;
  color: #383838;
  font-weight: 400;
}

.post-body h1 {
  font-size: 22px;
}

.post-body h2 {
  font-size: 20px;
}

.post-body h3 {
  font-size: 18px;
}

.post-body h4 {
  font-size: 16px;
}

.post-body h5 {
  font-size: 14px;
}

.post-date {
  font-size: 13px;
  color: gray;
  font-weight: 400 !important;
}

.post-points {
  font-size: 13px;
  font-weight: 600;
}

.table-options {
  padding-right: 5px;
}

.paginate {
  text-align: right;
}

#top-paginate {
  padding-top: 25px;
}

.gilded-icon {
  position: relative;
  display: inline-block;
  margin: 0 0 -15px 8px;
  top: -8px;
  color: #99895F;
  font-size: .9em;
  vertical-align: middle;
}

.gilded-icon:before {
  display: inline-block;
  content: '';
  background-image: url('../images/sprite-reddit.png');
  background-position: 0px -1639px;
  background-repeat: no-repeat;
  height: 14px;
  width: 13px;
  margin-right: 2px;
  vertical-align: -3px;
}

#back-up {
  padding-top: 25px;
  margin-bottom: 30px;
}

#comment-card {
  padding: 12px;
}

#comment-card:hover {
  background-color: #F5F5F5;
}

.nav-tabs > li > a {
  border-radius: 0 0 2px 2px;  
}

.post-card {
  margin-bottom: 15px;
}

.badge-row {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 30px;
  border: 1px solid #D6D6D6;
}

.badge-row [class*='col-'] {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.banner-box {
  position: relative;
}

.sub-banner-img {
  width: 100%;
}

.banner-text {
  position: absolute;
  left: 0;
  bottom: 5px;
}

.banner-text span:not(.non-bg) { 
  color: white; 
  font: bold 20px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px; 
}

.pie-box-left {
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  border-left: 1px solid #D6D6D6;
}

.pie-box-right {
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
}

/************************
Sub Page Side Bar
************************/

#sidebar {
  font-weight: 400;
}

.side-stats {
  font-weight: 400;
  color: #333;
  font-size: 13px;
}

.table-pad {
  padding: 30px 50px;
}

.table-pad .row {
  margin-right: 0;
}

.sub-text {
  font-size: 13px;
}

.side-post {
  color: #333;
  font-weight: 400;
  word-wrap: break-word;
}

.side-stats .col-xs-8, .side-stats .col-xs-9 {
  font-size: 13px;
}

.submit-pic {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#stat-lines {
  padding-top: 15px;
  padding-left: 5px;
}

#stat-lines [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

#submit-stats {
  padding-top: 10px;
}

#submit-col .md p {
  margin-bottom: 0 !important;
}

#submit-col {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

#submit-card {
  padding: 12px 18px;
}

.rank {
  font-size: 20px;
}

#post-header {
  margin-left: -40px;
}

/************************
Submit Post Thumbnails
************************/

.thumb {
  float: left;
  font-size: 0;
  overflow: hidden;
  width: 70px;
}

.post-thumbnail img {
  width: 55px;
}

.thumb-default {
  background-image: url('../images/sprite-reddit.png');
  background-position: -6px -1099px;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  height: 50px;
}

.thumb-self {
  background-image: url('../images/sprite-reddit.png');
  background-position: -6px -1267px;
  background-repeat: no-repeat;
  height: 50px;
}

.thumb-image {
  background-image: url('../images/sprite-reddit.png');
  background-position: -6px -1043px;
  background-repeat: no-repeat;
  height: 50px;
}

.thumb-nsfw {
  background-image: url('../images/sprite-reddit.png');
  background-position: -6px -1155px;
  background-repeat: no-repeat;
  height: 50px;
}

.thumb-spoiler {
  background-image: url('../images/sprite-reddit.png');
  background-position: -6px -1211px;
  background-repeat: no-repeat;
  height: 50px;
}

iframe, video {
  width: 100%;
}

/************************
Search
************************/

#search-jumbotron {
  margin-top: 0;
}

#search-input {
  padding: 10px;
}

#results-table {
  margin-top: 20px;
}

#results-card {
  padding: 3px 15px 3px 20px;
}

#results-card .col-md-1 {
  margin-top: 2px;
  text-align: right;
}

#results-card .col-md-11 {
  margin-top: 7px;
}

#results-comment .card, #results-submit .card {
  border: none;
}

#results-comment #comment-card {
  padding: 0 !important;
}

#results-table #comment-card:hover, #results-table .card-action:hover  {
  background: none;
}

.results-sub {
  font-size: 15px !important;
}

#search-side-card {
  margin-top: 20px;
  padding: 10px 16px;
}

#results-card:hover {
  color: #12C5E0;
}

/************************
Footer
************************/

/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding: 15px 0 15px 0;
  font-size: 12px;
}

/************************
Mobile
************************/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    width: inherit;
  }
}

@media screen and (max-width: 1000px) {
  .user-side, .heatmap {
    display: none;
  }

  .sub-rows {
    position: static;
    left: 0;
  }

  .pie-box-left {
    border-top: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-bottom: none;
  }

  .pie-box-right {
    border-top: none;
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
  }
}

@media screen and (max-width: 768px) {
  .navbar-default, #searchbar, #search-content .breadcrumb, #sub-panels {
    padding-left: 10px;
    padding-right: 10px;
  }

  .user-banner {
    margin-bottom: 0;
  }

  #search-content, #results {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
  }

  .sub-rows .row {
    margin-left: 0;
    margin-right: 0;
  }

  .sub-table, .sub-rows, .user-side, #sidebar {
    padding: 5px;
  }

  .container, #results-table, #search-content, #sub-panels, #sub-row .card-content {
    padding-left: 0;
    padding-right: 0;
  }

  #sub-row .col-xs-4 {
    margin-top: 10px;
  }

  .reddit-name {
    font-size: 25px;
    display: block;
  }

  .num-subs {
    margin-left: 0;
    margin-top: 10px;
    font-size: 18px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .post-date {
    display: block;
  }

  .card .card-content {
    padding: 16px 10px;
  }

  #results-accordion .panel-body {
    padding: 10px;
  }

  #submit-col {
    width: 100%;
    padding: 0;
    margin-left: 0;
    border: none;
  }

  #results-submit #submit-col {
    margin-left: 0;
    padding-left: 12px;
    padding-right: 5px;
  }

  #search-page .breadcrumb {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .paginate {
    text-align: center;
  }

  #sub-panel-stats .span {
    display: block;
  }

  .option-pos {
    display: none;
  }

  #search-nav {
    padding-bottom: 2px;
  }

  #search-strip .col-xs-10 {
    margin-top: -2px;
  }

  .pull-center {
    text-align: center !important;
  }

  #results-table {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  #table-head {
    padding-top: 5px;
  }

  .table-pad {
    padding: 10px 5px 20px 5px;
  }

  .user-page, #since-date {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  #subreddits .col-xs-8 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  #slash {
    display: none;
  }

  #since-date a {
    display: block;
  }

  .banner-info {
    margin-left: 0;
    padding-top: 15px;
  }

  #submit-card {
    padding: 0;
    padding-top: 15px;
  }

  .submit-pic {
    max-width: 100%;
  }

  #results-submit #post-header {
    padding-left: 15px;
    margin-left: 0;
  }

  #results-card .col-md-1, #overview-table, .table-heads th, .sub-banner .badge-col  {
    text-align: center;
  }

  #table-start .col-md-3 {
    padding-left: 0;
    padding-right: 0;
  }

  #home-page .table-pad {
    padding-top: 10px;
  }

  .center-value-comments, .center-value-submissions {
    font-size: 15px;
  }

  .line-1-comments, .line-1-submissions {
    font-size: 14px;
  }

  .user-head-nav {
    display: inherit;
    color: #696969;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
  }

  .user-head-nav p {
    margin-bottom: 16px;
  }

  .user-head-nav p:hover {
    color: #1DB3B0;
  }

  #post-header {
    margin-left: 8px;
    width: 80%;
  }

  iframe, video {
    height: 30vh;
  }

  .sub-banner, .banner-div .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  #overview-table .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .user-page {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .banner-text span {
    font-size: 14px !important;
  }

  #overview .fa-reddit {
    display: none;
  }

  #overview .col-md-1 {
    text-align: center;
  }

  #overview .col-md-1 img {
    display: inline-block;
  }

 }