<div class="card post-card">
  <div class="card-content pad-card" id="comment-card">
    <a ng-href="{{ element.link_url }}" target="_blank" class="wrap-text"><strong>{{ element.link_title | escape }}</strong></a> by <a ng-href="#/{{ element.link_author }}" target="_blank">{{ element.link_author }}</a> in <a ng-href="https://www.reddit.com/r/{{ element.subreddit }}" target="_blank">{{ element.subreddit }}</a>
    <br>
    <span class="post-links">
      <ng-pluralize class="post-points" ng-class="element.ups > 0 ? 'green' : 'orange'" count="element.ups" when="{'1': '1 point', 'other': '{{ element.ups | number }} points'}"></ng-pluralize>
    </span>
    <span class="post-links">
      <span ng-bind="element.created_utc * 1000 | amDateFormat: 'MMM Do YYYY, h:mm a'" class="post-date"></span>
    </span>
    <p class="post-body wrap-text" ng-bind-html="element.highlighted_body && page == 'search' ? element.highlighted_body : element.body_html | sanitize"></p>
    <span class="post-links"><a ng-href="{{ element.link_permalink }}{{ element.id }}" target="_blank">permalink</a></span>
    <span class="post-links"><a ng-href="{{ element.link_permalink }}{{ element.id }}?context=3" target="_blank">context</a></span> 
    <span class="post-links"><a ng-href="{{ element.link_permalink }}" target="_blank">full comments ({{ element.num_comments | number }})</a></span>
    <span ng-if="element.gilded > 0" class="post-links gilded-icon gray"> x {{ element.gilded }}</span>
  </div>
</div>