<div ng-if="tab == 3" class="card-box">
  <div class="headerRow side-pad">
    <strong class="side-headers">{{ commentFilter.name }} Overview</strong>
  </div>
  <div class="card-box-content">
    <strong class="white">{{ numComments | number }} </strong><span class="light-grey"> <ng-pluralize count="numComments" when="{'1': 'Comment', 'other': 'Comments'}"></ng-pluralize></span>
    &nbsp;&nbsp;
    <strong class="white">Points: </strong>
    <strong ng-if="filterPoints[0] !== NaN" ng-class="filterPoints[0] > 0 ? 'green' : 'orange'">{{ filterPoints[0] | karma }}<span ng-class="filterPoints[0] > 0 ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></strong>
    <br>
    <div ng-if="filterPoints[1] !== NaN" class="light-grey">
      <span class="white">{{ filterPoints[1] | karma }}</span> average <ng-pluralize count="filterPoints[1]" when="{'1': 'point', 'other': 'points'}"></ng-pluralize> per comment
    </div>
    <br>
    <button ng-controller="DataCtrl" class="btn gray-btn" ng-click="refreshData()"><span class="fa fa-refresh"></span> &nbsp;Refresh Data</button>
    <div ng-include src="'views/limit-msg.html'"></div>
  </div>
</div>
