<div ng-repeat="comment in getArray().slice(((subPage.current-1)*subPage.items), ((subPage.current)*subPage.items))">
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="{{ comment.link_url }}" target="_blank" class="post-title"><strong>{{ comment.link_title }}</strong></a> by <a href="http://www.reddit.com/user/{{ comment.link_author }}" target="_blank">{{ comment.link_author }}</a> in <a href="http://www.reddit.com/r/{{ comment.subreddit }}" target="_blank">{{ comment.subreddit }}</a>
      <br>
      <span>
        <ng-pluralize class="post-points" ng-class="comment.ups > 0 ? 'green' : 'orange'" count="comment.ups" when="{'1': '1 point', 'other': '{{ comment.ups }} points'}"></ng-pluralize> 
        &middot <span ng-bind="comment.created_utc * 1000 | amDateFormat: 'MMM Do YYYY, h:mm a'" class="post-date"></span></span>
      <p class="post-body" ng-bind-html="comment.body_html | sanitize"></p>
      <span class="post-links"><a href="{{ comment.link_permalink }}{{ comment.id }}" target="_blank">permalink</a></span>
      <span class="post-links"><a href="{{ comment.link_permalink }}{{ comment.id }}?context=3" target="_blank">context</a></span> 
      <span class="post-links"><a href="{{ comment.link_permalink }}" target="_blank">full comments ({{ comment.num_comments }})</a></span>
    </div>
  </div>
</div>