<div class="no-pad light-grey">
  <span class="post-links">
    <span ng-bind="element.created_utc * 1000 | amDateFormat: 'MMM Do YYYY, h:mm a'" class="post-date"></span>
  </span>

  <div style="float: right;" class="comment-links">
    <span class="post-links"><a ng-href="https://reddit.com{{ element.link_permalink }}{{ element.id }}" target="_blank">permalink</a></span>
    <span class="post-links"><a ng-href="https://reddit.com{{ element.link_permalink }}{{ element.id }}?context=3" target="_blank">context</a></span>
    <span class="post-links"><a ng-href="https://reddit.com{{ element.link_permalink }}" target="_blank">full comments</a></span>
  </div>
</div>
