<md-card-content class="no-pad">
  <span class="post-links"><a ng-href="{{ element.link_permalink }}{{ element.id }}" target="_blank">permalink</a></span>
  <span class="post-links"><a ng-href="{{ element.link_permalink }}{{ element.id }}?context=3" target="_blank">context</a></span> 
  <span class="post-links"><a ng-href="{{ element.link_permalink }}" target="_blank">full comments ({{ element.num_comments | number }})</a></span>
  <span ng-if="element.gilded > 0" class="post-links gilded-icon gray"> x {{ element.gilded }}</span>

  <span class="post-links" style="float: right;">
    <span ng-bind="element.created_utc * 1000 | amDateFormat: 'MMM Do YYYY, h:mm a'" class="post-date"></span>
  </span>
</md-card-content>