<div class="no-pad" id="comment-card">
  <span class="post-links">
    <ng-pluralize class="post-points" ng-class="element.ups > 0 ? 'green' : 'orange'" count="element.ups" when="{'1': '1 point', 'other': '{{ element.ups | number }} points'}"></ng-pluralize>
  </span>
  <span class="post-links">
    <span ng-if="element.gildings.gid_1 > 0"><img class="gilded-icon" lazy-img="{{ '../images/silver.png' }}"/><span class="gild-font"> x {{ element.gildings.gid_1 }}</span></span>
  </span>
  <span class="post-links">
    <span ng-if="element.gildings.gid_2 > 0"><img class="gilded-icon" lazy-img="{{ '../images/gold.png' }}"/><span class="gild-font"> x {{ element.gildings.gid_2 }}</span></span>
  </span>
  <span class="post-links">
    <span ng-if="element.gildings.gid_3 > 0"><img class="gilded-icon" lazy-img="{{ '../images/platinum.png' }}"/><span class="gild-font"> x {{ element.gildings.gid_3 }}</span></span>
  </span>
  <span class="post-links light-grey">
    <span ng-bind="element.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'" class="post-date"></span>
  </span>
  <p class="post-body wrap-text" ng-bind-html="element.highlighted_body && page == 'search' ? element.highlighted_body : element.body_html | escape | sanitize | truncate:200:false"></p>
</div>
