<strong class="purple-heading">Filter Subreddits</strong>
<br><br>
<strong class="gray-bold-subtitle">Sort by:</strong>
<br>
<div class="btn-group select-dropdown dropdown-margin" style="margin-bottom: 10px;">
  <button type="button" class="form-control sort-dropdown btn btn-default dropdown-toggle" data-toggle="dropdown">
    <strong class="placeholder-gray">{{ selected.name }}</strong>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="sort in sortData.sortOptions" ng-click="setSortOption(sort)">{{ sort.name }}</li>
  </ul>
</div>
<br>
<strong class="gray-bold-subtitle">Search:</strong>
<br>
<form class="dropdown-margin">
  <input type="text" id="testInput" class="form-control"
         ng-model="searchSub" ng-change="changeUserSubs(searchSub)" placeholder="&#xF002; &nbsp;Enter sub name ..." style="font-family: FontAwesome, Helvetica Neue;" md-autofocus>
</form>
