<div class="footer width-pad" id="footer" align="center">
  <div class="container">
    &copy 2017 &middot SubSnoop is not affiliated with <a href="https://www.reddit.com">www.reddit.com</a> <i class="fa fa-reddit-alien white" aria-hidden="true"></i> | <a href="https://github.com/sharibarboza/sub-snoop">Developed on <i class="fa fa-github white" aria-hidden="true"></i></a><br>
    <span>Icons made by <a href="https://www.freepik.com/">Freepik</a>, <a href="https://smashicons.com/">Smashicons</a>, <a href="http://fontawesome.io">Dave Gandy</a>, and <a href="https://www.flaticon.com/authors/pixel-buddha">Pixel Buddha</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a> </span>
  </div>
</div>