<div>
  <div ng-include src="'views/searchnav.html'"></div>

  <div class="main-container">
    <div class="default-banner main-banner card-shadow jumbotron">
      <h2><strong>Track your subreddit activity</strong></h2>
      <h3 id="main-subtitle"><strong>View and order your comments and submissions by subreddit.</strong></h3>

      <div ng-include src="'views/main-search.html'"></div>
    </div>
    <div ng-if="fetchedSubs == 1" class="row no-margin">
      <div class="row no-margin col-md-10 col-md-push-1 no-padding" id="sub-panels">
        <div class="col-md-6">
          <h5><strong class="sub-panel-title dark-gray">Popular Subreddits</strong></h5>
          <div class="panel-list" ng-repeat="subElement in popularSubs">
            <div ng-include src="'views/sub-panel.html'"></div>
          </div>
        </div>
        <div class="col-md-6">
          <h5><strong class="sub-panel-title dark-gray">New Subreddits</strong></h5>
          <div class="panel-list" ng-repeat="subElement in newSubs">
            <div ng-include src="'views/sub-panel.html'"></div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="fetchedSubs == 0" align="center" style="padding: 10px 20%; height: 40vh;">
      <strong class="sub-panel-title purple">Sorry. Reddit currently seems to be down.</strong>
    </div>

    <div align="center" class="center-back">
      <back-top></back-top>
      <br><br>
    </div>
  </div>
</div>
