<div ng-controller="EntryLimitCtrl">
  <form redirect="{{ true }}" novalidate="novalidate" page="{{ page }}" handle-phone-submit ng-controller="EntryLimitCtrl">
    <div class="input-group col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" align="center">
      <input type="text" ng-model="username" class="form-control" id="main-search" placeholder="Enter reddit username ..." required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 40px; margin-top: 0px;">{{ limitName }}&nbsp;&nbsp;<span class="caret"></span></button>
        <ul id="entry-limit" class="dropdown-menu" role="menu">
          <li ng-repeat="option in limitOptions" ng-click="setLimit(option)">{{ option.name }}</li>
        </ul>
      </span>
    </div>

    <div ng-if="!notfound" class="limit-text">
      <span>{{ tooltipMsg }}</span>
    </div>
  </form>
</div>
