<div ng-include src="'views/searchnav.html'"></div>

<div class="main-container">
  <div class="jumbotron main-content user-banner">
    <h2>Track your subreddit activity</h2>
    <br>
    <h4><strong>Enter your Reddit username to view your comments &amp submissions by <span class="green">subreddit.</span></strong></h4>

    <div ng-include src="'views/main-search.html'"></div>
  </div>
  <div id="sub-panels">
    <div class="col-md-6">
      <div class="card side-cards">
        <div class="card-content card-heading">Popular Subreddits</div>
          <div class="card-action pad-card" ng-repeat="subElement in popularSubs">
            <div ng-include src="'views/sub-panel.html'"></div>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card side-cards">
        <div class="card-content card-heading">New Subreddits &amp Users</div>
          <div class="card-action pad-card" ng-repeat="subElement in newSubs">
            <div ng-include src="'views/sub-panel.html'"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'views/footer.html'"></div>

