<div class="card-box" ng-controller="PreviousUsersCtrl">
  <div class="headerRow side-pad">
    <strong class="side-headers">Recently Searched Users</strong>
  </div>
  <div ng-repeat="listUser in prevUsers" class="sideRow">
    <a ng-href="#/{{ listUser }}/subreddits/" class="prevRow white">
      <table class="side-table">
        <tbody>
          <tr>
            <td>
              <img class="img-circle prev-img img-responsive" style="width: 45px;" lazy-img="{{ prevData[listUser].avatar | escape }}">
            </td>
            <td style="padding-left: 15px;">
              <strong class="prevName">{{ listUser }}</strong>
              <br>
              <span class="light-grey">{{ prevData[listUser].subs }} <ng-pluralize count="{{ prevData[listUser].subs }}" when="{'1': 'subreddit', 'other': 'subreddits'}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </a>
  </div>
  <div ng-if="prevUsers.length > 0" class="side-pad" ng-controller="DataCtrl">
    <a ng-click="clearStorage()"><span class="fa fa-trash"></span> Clear All Searched Users</a>
  </div>
  <div ng-if="prevUsers.length == 0">
    <div class="card-box-content">
      <span class="light-grey">No previously searched users yet.</span>
    </div>
  </div>
</div>
