<div id="search-page" class="middle-col-pad g-underline">
  <strong class="white title-heading">Search Comments & Submissions</strong>
  <br><br>
  <div>
    <form ng-submit="searchResults()" redirect="{{ false }}" novalidate="novalidate" handle-phone-submit>
      <div class="input-group" style="max-width: 450px;">
        <input type="text" ng-model="searchInput" class="form-control" placeholder="Enter keywords ..." id="search" required>
        <span class="input-group-btn">
          <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </form>
  </div>
  <br>

  <div ng-if="results.len">
    <span class="light-grey">Found {{ results.len }} <ng-pluralize count="results.len" when="{'1': 'entry', 'other': 'entries'}"></ng-pluralize> in {{ results.subs }} <ng-pluralize count="results.subs" when="{'1': 'subreddit', 'other': 'subreddits'}"></ng-pluralize>.</span>
  </div>
  <div ng-if="results.len == 0">
    <span class="light-grey">{{ noResults }}</span>
  </div>
</div>

<div ng-show="searching" align="center" class="g-underline">
  <img class="loader" ng-src="{{ '../images/103.gif' }}" />
</div>

<div class="row no-margin" ng-if="resultList.length" id="results">

  <div class="no-right-pad" id="results-table">

    <div ng-repeat="sub in resultList" class="search-body list-card-box result-underline" ng-if="results.data[sub].comments.length || results.data[sub].submissions.length">
      <accordion class="accordion" id="results-accordion">
        <accordion-group ng-init="results.data[sub].status = open" is-open="results.data[sub].status">

          <accordion-heading>
            <div class="row no-margin" id="results-card" ng-click="searchResetLimit()">
              <div class="col-xs-11 no-padding" id="search-title">
                <strong class="sub-name"><a>r/{{ sub }}</a></strong>
                <span class="light-grey results-sub search-results-num">&middot;&nbsp;<ng-pluralize count="(results.data[sub].numComments) + (results.data[sub].numSubmits)" when="{'1': '1 entry', 'other': '{{ ((results.data[sub].numComments) + (results.data[sub].numSubmits)) | number }} entries'}"></ng-pluralize> found</span>
                <br>
                <span class="light-grey">
                  <span class="badge" ng-if="results.data[sub].numComments > 0" style="padding-left: 0;"><span class="fa fa-comment small-icon"></span>&nbsp;&nbsp;<span class="white">{{ results.data[sub].numComments }}</span> <ng-pluralize count="{{ results.data[sub].numComments }}" when="{'1': 'comment', 'other': 'comments'}"></ng-pluralize>&nbsp;</span>
                  <span class="badge" ng-if="results.data[sub].numSubmits > 0"><span class="fa fa-file-text small-icon"></span>&nbsp;&nbsp;<span class="white">{{ results.data[sub].numSubmits }}</span> <ng-pluralize count="{{ results.data[sub].numSubmits }}" when="{'1': 'post', 'other': 'posts'}"></ng-pluralize></span>
                  &nbsp;
                </span>
              </div>
              <div class="col-xs-1 no-padding" id="search-chevron" align="center">
                <i class="fa fa-2x gray" ng-class="results.data[sub].status ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true" id="results-chevron"></i>
              </div>
            </div>
          </accordion-heading>

          <div class="card-action search-panel">
            <div ng-if="results.data[sub].comments.length">
              <div class="search-header">
                <strong class="white title-heading">Comments</strong>
              </div>
              <div class="g-underline-no-pad"></div>
            </div>
            <div ng-repeat="element in results.data[sub].comments | limitTo: searchLimit" class="searches" id="{{ sub }}-comments" ng-if="type != 3">
              <span class="gray small-font" ng-bind="comment.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'"></span>
              <div ng-include src="'views/comment-no-title.html'"></div>
            </div>
            <div ng-if="searchLimit < results.data[sub].comments.length" align="center">
              <button ng-click="searchLoadMore(sub, 'comments')" class="btn gray-btn load-btn">Load More</button>
            </div>

            <div ng-if="results.data[sub].submissions.length">
              <div class="search-header">
                <strong class="white title-heading">Posts</strong>
              </div>
              <div class="g-underline-no-pad"></div>
              <br>
            </div>
            <div ng-repeat="element in results.data[sub].submissions | limitTo: searchLimit" class="searches" id="{{ sub }}-submits" ng-if="type != 2">
              <div ng-include src="'views/submission.html'" id='results-submit'></div>
            </div>
            <div ng-if="searchLimit < results.data[sub].submissions.length" align="center">
              <button ng-click="searchLoadMore(sub, 'submissions')" class="btn gray-btn load-btn">Load More</button>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
