<div class="col-md-3 card search-content" id="search-side-card">
  <div class="card-content">
    <strong class="black">Filter Results</strong>

    <div class="side-stats">
      <div class="radio">
        <label><input type="radio" name="type" ng-model="type" ng-value="1" ng-click="filterResults(1)" ng-checked="checkType(1)">All post types</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="type" ng-model="type" ng-value="2" ng-click="filterResults(2)" ng-checked="checkType(2)">Comments only ({{ results.comments }} found)</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="type" ng-model="type" ng-value="3" ng-click="filterResults(3)" ng-checked="checkType(3)">Submissions only ({{ results.submissions }} found)</label>
      </div>
    </div>

    <br>
    <strong class="black">Only Search In:</strong>
    <br><br>
    <button class="btn btn-xs btn-primary" ng-click="deselect()">Deselect All</button>
    <div ng-repeat="subname in resultList" class="side-stats">
      <div class="checkbox">
        <label><input type="checkbox" ng-model="checkedSub" ng-value="subname" ng-click="addSub(subname)" ng-checked="checkSub(subname)">{{ subname }}</label>
      </div>
    </div>
  </div>
</div>