<div class="header">
  <div class="navbar navbar-default navbar-fixed-top width-pad" role="navigation">
    <div class="container row">
      <div class="col-xs-2"><a class="navbar-brand" href="#/">SubSnoop</a></div>
      <div class="col-xs-10">
        <ul align="right" id="navbar-links">
          <li ng-hide="main" class="nav-pos"><a href="#/{{ username }}/search/" class="nav-link"><i class="fa fa-search" aria-hidden="true"></i> search</a></li>
          <li ng-hide="main" class="nav-pos" ng-controller="SidebarCtrl"><a href class="nav-link" ng-click="toggleRight()"><i class="fa fa-reddit-alien" aria-hidden="true"></i> subreddits</a></li>
        </ul>
      </div>

    </div><!--/.nav-collapse -->
  </div>
  <div ng-hide="main" class="navbar-default navbar-fixed-top width-pad" role="navigation" id="searchbar">
    <div class="container">
      <div id="search-nav" class="row">
        <div class="col-xs-1"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></div>
        <div class="col-xs-11">
          <form handle-phone-submit>
            <div class="row" id="search-strip">
              <div class="col-xs-10"><input type="text" ng-model="inputname" placeholder="Search for another user..." value="Submit"></div>
              <div class="col-xs-2"><button style="visibility: hidden;" type="submit"></button></div>
            </div>
          </form>
        </div>
      </div>
    </div><!--/.nav-collapse -->
  </div>

</div>

