<div ng-include src="'views/searchnav.html'"></div> 

<div class="main-content">
  
  <div class="content" layout="column" ng-cloak>

    <div ng-include src="'views/sidenav.html'"></div>

    <br>
    <div class="table-pad">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><strong><i class="fa fa-arrow-left gray" aria-hidden="true"></i> <a class="purple" href="#/{{ username }}">Back to subreddits</a></strong></li>
      </ol>

      <br>
      <strong class="green" align="center" id="search-header"><h3>Search in <span class="purple">{{ username }}'s</span> comments and submissions</h3></strong>
      <br>
      <div ng-controller='SearchCtrl'>
        <form ng-submit="searchResults()">
          <div class="input-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" ng-model="searchInput" placeholder="Search for ..." required>
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
          </span>
          </div>
        </form>
      
        <br><br>
        <div ng-show="searching">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <span ng-if="resultList.length > 0">Found {{ results.len }} <ng-pluralize count="results.len" when="{'1': 'result', 'other': 'results'}"></ng-pluralize> in {{ results.subs }} <ng-pluralize count="results.subs" when="{'1': 'subreddit', 'other': 'subreddits'}"></ng-pluralize></span>

        <div id="results-table">
          <div ng-repeat="result in resultList" ng-if="results[result].count > 0">
            <accordion class="accordion" id="results-accordion">
              <accordion-group ng-init="status = {isOpen: false}" is-open="status.isOpen">

                <accordion-heading>
                  <div class="card">
                    <div class="card-content row" id="results-card">
                      <div class="col-md-11">
                        <strong id="results-sub">/r/{{ result }}</strong> <span class="green" id="results-found">(<ng-pluralize count="results[result].count" when="{'1': '1 result', 'other': '{{ results[result].count | number }} results'}"></ng-pluralize> found)</span>
                      </div>
                      <div class="col-md-1" align="center">
                        <i class="fa fa-2x fa-angle-down" aria-hidden="true" id="results-chevron"></i>
                      </div>
                    </div>
                  </div>
                </accordion-heading>

                <div class="card-action">
                  <span class="post-links" ng-if="results[result].commentsCount > 0">
                    <span class="badge results-badge"><ng-pluralize count="results[result].commentsCount" when="{'1': '1 comment', 'other': '{{ results[result].commentsCount | number }} comments'}"></ng-pluralize></span>
                  </span>

                  <span class="post-links" ng-if="results[result].submitsCount > 0">
                    <span class="badge results-badge"><ng-pluralize count="results[result].submitsCount" when="{'1': '1 submission', 'other': '{{ results[result].submitsCount | number }} submissions'}"></ng-pluralize></span>
                  </span>
                  <br><br>

                  <h4 class="purple" ng-if="results[result].commentsCount> 0"><strong>Comments</strong></h4>
                  <div ng-repeat="element in results[result].comments" id="{{ result }}-comments">
                    <span class="gray small-font" ng-bind="comment.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'"></span>
                    <br>
                    <div ng-include src="'views/comment.html'" id="results-comment"></div>
                    <hr>
                  </div>

                  <br>
                  <h4 class="purple"><strong ng-if="results[result].submitsCount > 0">Submitted</strong></h4>
                  <div ng-repeat="element in results[result].submissions" id="{{ result }}-submits">
                    <div ng-include src="'views/submission.html'" id='results-submit'></div>
                  </div>
                </div>

              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>