<div class="header">
  <div class="navbar navbar-default navbar-fixed-top width-pad" role="navigation">
    <div class="container row">
      <div class="col-xs-2"><a class="navbar-brand" href="#/">SubSnoop</a></div>
      <div class="col-xs-10">
        <ul class="nav navbar-nav navbar-right">
          <a href="https://github.com/sharibarboza/sub-snoop" class="btn btn-social-icon btn-github" id="github-icon">
            <span class="fa fa-github"></span>
          </a>
          <li ng-hide="main" class="nav-item"><a href="#/{{ username }}" class="nav-link">subreddits</a></li>
        </ul>
      </div>

    </div><!--/.nav-collapse -->
  </div>
  <div ng-hide="main" class="navbar-default navbar-fixed-top width-pad" role="navigation" id="searchbar">
    <div class="container">
      <div id="search-nav" class="row">
        <div class="col-xs-1"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></div>
        <div class="col-xs-11">
          <form>
            <input type="text" ng-model="inputname" placeholder="Search for another user...">
            <a href="#/{{ inputname }}"><button style="display: none;" type="submit"></button></a>
          </form>
        </div>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>

