<div ng-include src="'views/searchnav.html'"></div> 

<div class="main-content" id="search-page">
  
  <div class="content" layout="column" ng-cloak>

    <div ng-include src="'views/sidenav.html'"></div>
    <div>
      <div class="user-banner main-banner" id="search-banner">
        <br>
        <strong align="center" class="banner-header"><h3 class="margin-pad">Search in <span class="baby-blue">{{ username }}'s</span> comments and submissions</h3></strong>
        <br>
        <div id="search-input">
          <form ng-submit="searchResults()" redirect="{{ false }}" novalidate="novalidate" handle-phone-submit>
            <div class="input-group col-md-8 col-md-offset-2">
              <input type="text" ng-model="searchInput" class="form-control" id="search" required>
              <span class="input-group-btn">
                <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div ng-show="searching">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <div class="table-pad search-content width-pad" style="background-color: #f5f5f5;">
        <div class="mobile-center user-reddit-btn">
          <a ng-href="#/{{ username }}"><md-button class="md-raised md-primary visit-btn no-margin"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to subs <i class="fa fa-list" aria-hidden="true"></i></i></md-button></a>
        </div>

        <div align="center" ng-if="results.len">
          <span class="gray">Found {{ results.len }} <ng-pluralize count="results.len" when="{'1': 'result', 'other': 'results'}"></ng-pluralize> in {{ results.subs }} <ng-pluralize count="resultList.length" when="{'1': 'subreddit', 'other': 'subreddits'}"></ng-pluralize></span>
        </div>
        <div align="center" ng-if="results.len == 0">
          <span class="gray">{{ noResults }}</span>
        </div>

        <div class="row no-margin" ng-if="resultList.length" id="results">

          <div ng-include src="'views/search-sidebar.html'"></div>
          <div class="col-md-9" id="results-table">

            <div ng-repeat="sub in resultList" ng-if="results.data[sub].comments.length || results.data[sub].submissions.length">
              <accordion class="accordion" id="results-accordion">
                <accordion-group ng-init="results.data[sub].status = open" is-open="results.data[sub].status">

                  <accordion-heading>
                    <div class="row no-margin" id="results-card">
                      <div class="col-md-11">
                        <strong class="results-sub">/r/{{ sub }}</strong> <span class="purple results-sub">(<ng-pluralize count="(results.data[sub].comments.length) + (results.data[sub].submissions.length)" when="{'1': '1 result', 'other': '{{ ((results.data[sub].comments.length) + (results.data[sub].submissions.length)) | number }} results'}"></ng-pluralize> found)</span>
                      </div>
                      <div class="col-md-1" align="center">
                        <i class="fa fa-2x gray" ng-class="results.data[sub].status ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true" id="results-chevron"></i>
                      </div>
                    </div>
                  </accordion-heading>

                  <div class="card-action" style="background-color: #f5f5f5;">
                    <span class="post-links post-badge" ng-if="results.data[sub].comments.length">
                      <span class="badge results-badge"><ng-pluralize count="results.data[sub].comments.length" when="{'1': '1 comment', 'other': '{{ results.data[sub].comments.length | number }} comments'}"></ng-pluralize></span>
                    </span>

                    <span class="post-links post-badge" ng-if="results.data[sub].submissions.length">
                      <span class="badge results-badge"><ng-pluralize count="results.data[sub].submissions.length" when="{'1': '1 submission', 'other': '{{ results.data[sub].submissions.length | number }} submissions'}"></ng-pluralize></span>
                    </span>
                    <br><br>

                    <h4 class="black" ng-if="results.data[sub].comments.length"><strong>Comments</strong></h4>
                    <div ng-repeat="element in results.data[sub].comments" id="{{ sub }}-comments" ng-if="type != 3">
                      <span class="gray small-font" ng-bind="comment.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'"></span>
                      <div ng-include src="'views/comment-no-title.html'"></div>
                    </div>

                    <br>
                    <h4 class="black"><strong ng-if="results.data[sub].submissions.length">Submitted</strong></h4>
                    <div ng-repeat="element in results.data[sub].submissions" id="{{ sub }}-submits" ng-if="type != 2">
                      <div ng-include src="'views/submission.html'" id='results-submit'></div>
                    </div>
                  </div>
                </accordion-group>
              </accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>