<div class="search-content">
  <div class="side-stats">
    <div class="radio">
      <label><input type="radio" name="type" ng-model="type" ng-value="1" ng-click="filterResults(1)" ng-checked="checkType(1)">Show All</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="type" ng-model="type" ng-value="2" ng-click="filterResults(2)" ng-checked="checkType(2)">Comments only</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="type" ng-model="type" ng-value="3" ng-click="filterResults(3)" ng-checked="checkType(3)">Posts only</label>
    </div>
  </div>
</div>
