<div id="sidebar" class="col-md-4 col-md-push-8 user-side">
  <div class="card">
    <div class="card-content card-heading"><strong class="purple"><i class="fa fa-shield" aria-hidden="true"></i> /r/{{ subreddit }}</strong></div>
      <div class="card-action pad-card center">
        <i class="glyphicon glyphicon-time gray" aria-hidden="true"></i> Last Seen: <strong class="green" ng-bind="sub.recent_activity | amDateFormat:'MMMM Do YYYY, h:mm a'"></strong>
        <br>
        <i class="glyphicon glyphicon-globe gray" aria-hidden="true"></i> <a href="https://www.reddit.com/r/{{ subreddit }}" target="_blank"><strong>Visit /r/{{ subreddit }} &raquo</strong></a>
        <br><br>
        <span>Of {{ username }}'s <span class="orange number">{{ subLength }}</span> <ng-pluralize count="subLength" when="{'1': 'subreddit', 'other': 'subreddits'}"></ng-pluralize>, /r/{{ subreddit }} is:</span><br>
        <span class="gray side-stats">Ranked <strong class="green number">#{{ mostUpsRank }}</strong> in total upvotes</span><br>
        <span class="gray side-stats">Ranked <strong class="green number">#{{ mostActiveRank }}</strong> in most active</span>
    </div>
  </div>

  <div ng-if="tab == 0" class="card">
    <div class="card-content card-heading"><strong class="purple"><i class="fa fa-signal" aria-hidden="true"></i> Comment Activity</strong></div>
    <div class="card-action pad-card">
      <sidebar-stats data="{{ sub }}" type="comments"></sidebar-stats>
    </div>
    <div class="card-action pad-card">
      <i class="glyphicon glyphicon-circle-arrow-up gray" aria-hidden="true"></i> <span class="purple"><strong>Most Upvoted Comment</strong></span><br>
      <submit data="{{ topPost }}"></submit>
    </div>
  </div>

  <div ng-if="tab == 1" class="card">
    <div class="card-content card-heading"><strong class="purple"><i class="fa fa-signal" aria-hidden="true"></i> Submitted Activity</strong></div>
    <div class="card-action pad-card">
      <sidebar-stats data="{{ sub }}" type="submissions"></sidebar-stats>
    </div>
    <div class="card-action pad-card">
      <i class="glyphicon glyphicon-arrow-up gray" aria-hidden="true"></i> <span class="purple"><strong>Most Upvoted Submission</strong></span><br>
      <submit data="{{ topSubmit }}"></submit>
    </div>
  </div>

  <update></update>
</div>