<i class="glyphicon glyphicon-calendar gray" aria-hidden="true"></i> Data available from: <strong class="green" ng-bind="date | amDateFormat:'MMMM Do YYYY'"></strong>
<br><br>
<div class="side-stats">
  <div class="row">
    <div class="col-xs-8">Total {{ type }}</div>
    <div class="col-xs-4" align="right"><strong class="baby-blue number">{{ total }}</strong></div>
  </div>
  <div class="row">
    <div class="col-xs-9">Gilded {{ type }}</div>
    <div class="col-xs-3" align="right"><strong class="baby-blue number">{{ gilded }}</strong></div>
  </div>
  <div class="row">
    <div class="col-xs-8">Total points</div>
    <div class="col-xs-4" align="right"><strong class="baby-blue number">{{ points | number }}</strong></div>
  </div>
  <div class="row">
    <div class="col-xs-9">Average points per {{ averageType }}</div>
    <div class="col-xs-3" align="right"><strong class="baby-blue number">{{ average | number }}</strong></div>
  </div>
</div>