<div id="sidebar" class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="purple">/r/{{ subreddit }}</div>
      <div class="panel-body">
        <i class="glyphicon glyphicon-time" aria-hidden="true"></i> <strong class="green">Last Seen: </strong><span ng-bind="sub.recent_activity | amDateFormat:'MMMM Do YYYY, h:mm a'"></span>
        <br>
        <i class="glyphicon glyphicon-globe" aria-hidden="true"></i> <a href="http://www.reddit.com/r/{{ subreddit }}" target="_blank"><strong>Visit /r/{{ subreddit }} &raquo</strong></a>
        <br>
        <h5 class="purple"><strong>Of {{ username }}'s <span class="baby-blue number">{{ subLength }}</span> <ng-pluralize count="subLength" when="{'1': 'subreddit', 'other': 'subreddits'}"></ng-pluralize>, /r/{{ subreddit }} is:</strong></h5>
        Ranked <span class="green">#{{ mostUpsRank }}</span> in total upvotes<br>
        Ranked <span class="green">#{{ mostActiveRank }}</span> in most active
    </div>
  </div>

  <div ng-if="tab == 0" class="panel panel-default side-stats">
    <div class="panel-heading"><span class="purple">Comment Stats</div>
    <div class="panel-body">
      <sidebar-stats data="{{ sub }}" type="comments"></sidebar-stats>

      <hr>
      <i class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></i> <span class="purple"><strong>Most Upvoted Comment</strong></span>
      <p class="small-font side-post" ng-bind-html="topPost.body_html | sanitize | truncate"></p>
      <strong><ng-pluralize class="small-font baby-blue" count="topPost.ups" when="{'1': '1 point', 'other': '{{ topPost.ups }} points'}"></ng-pluralize></strong> | <a class="small-font" href="{{ topPost.link_permalink }}" target="_blank">permalink</a>
    </div>
  </div>

  <div ng-if="tab == 1" class="panel panel-default side-stats">
    <div class="panel-heading"><span class="purple">Submitted Stats</div>
    <div class="panel-body">
      <sidebar-stats data="{{ sub }}" type="submissions"></sidebar-stats>

      <hr>
      <i class="glyphicon glyphicon-arrow-up" aria-hidden="true"></i> <span class="purple"><strong>Most Upvoted Submission</strong></span><br>
      <submit data="{{ topSubmit }}"></submit>
    </div>
  </div>
</div>