<div class="no-mobile card-box" ng-controller="UserStatsCtrl">
  <div class="headerRow side-pad">
    <strong class="side-headers">Notable Subreddits</strong>
  </div>

  <div ng-repeat="(sub, data) in sideBadges" class="row no-margin sideRow">
    <a ng-href="#/{{ username }}/{{ sub }}/overview/"><div>
      <div class="col-sm-9 no-padding">
        <strong class="badge-name"><span class="white">r/{{ sub }}</span></strong>
        <ul class="badge-list">
          <li ng-repeat="point in data" class="light-grey">
            <span align="center"><span class="{{ point.icon }}"></span></span>&nbsp;{{ point.name }}
          </li>
        </ul>
      </div>
      <div class="col-sm-3 no-padding" align="right">
        <img class="img-circle prev-img img-responsive side-logo" lazy-img="{{ icons[sub] | escape }}">
        <default-logo ng-if="icons[sub] == '' || icons[sub] == null" sub="{{ sub }}" page="{{ page }}"></default-logo>
      </div>
    </div></a>
  </div>
  <div class="side-pad" ng-controller="DataCtrl">
    <a href="https://old.reddit.com/user/{{ username }}/gilded/" target="_blank"><span class="fa fa-trophy"></span> Rewards Received (Gilded)</a>
  </div>
</div>
