<div class="row">
  <div class="col-md-8 col-xs-8">
    <strong class="sub-num">{{ sub.total_ups | number }}</strong>
    <ng-pluralize class="gray-bold-subtitle" count="{{ sub.total_ups }}" when="{'1': 'point', 'other': 'points'}"/>
  </div>
  <div class="col-md-4 col-xs-4" align="right">
    <div ng-if="user.subreddit" class="small-sub-circle" style="background-image: url({{ user.subreddit.icon_img | escape }});"></div>
    <div ng-if="!user.subreddit" class="small-sub-circle" style="background-image: url('{{ user.icon_img }}');"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <strong class="badge-num">{{ initComments }}</strong><br>
    <span class="gray-bold-subtitle karma-font">Comments</span>
  </div>
  <div class="col-xs-8">
    <strong class="badge-num">{{ initSubmits }}</strong><br>
    <span class="gray-bold-subtitle karma-font">Posts</span>
  </div>
</div>

<br>
<button class="btn gray-btn" ng-click="refreshData()"><span class="fa fa-refresh"></span> &nbsp;Refresh Data</button>
