<md-card>
  <md-media class="no-pad">
    <div ng-if="subInfo.banner_img" class="banner-box">
      <img ng-src="{{ subInfo.banner_img | escape }}" class="sub-banner-img" />
      <div class="banner-text">
        <span class="txt-block">Subscribers: <span class="non-bg baby-blue">{{ subInfo.subscribers | number }}</span></span>
      </div>
    </div>
  </md-media>
  <md-card-content class="no-toppad">
    <br ng-if="!subInfo.banner_img">
    <div><strong class="light-gray">ABOUT THIS SUBREDDIT</strong>
    <br>
    <p ng-if="subInfo.public_description" ng-bind-html="subInfo.public_description_html | sanitize"></p></div>
    <p ng-if="!subInfo.public_description">No description available.</p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <div ng-if="!subInfo.banner_img">
      <strong class="dark-gray"><i class="fa fa-user-plus" aria-hidden="true"></i>  Subscribers:
      <span class="baby-blue">{{ subInfo.subscribers | number }}</span></strong>
    </div>
    <strong class="dark-gray"><i class="fa fa-calendar" aria-hidden="true"></i>  Created:
    <span class="green" ng-bind="subInfo.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'"></span></strong>
 </md-card-content>
</md-card>