<md-card>
  <md-card-content class="no-pad">
    <div class="row">
      <div class="col-md-5 sub-table-col" style="padding-right: 0;">
        <!-- Table displaying the user's activity stats in the subreddit -->
        <div ng-include src="'views/sub-table.html'"></div>
      </div>
      <div class="col-md-7 sub-info" style="padding-left: 0;">
        <div ng-if="subInfo.banner_img" class="banner-box">
          <div class="banner-container">
            <img lazy-img="{{ subInfo.banner_img | escape }}" class="sub-banner-img" />
          </div>
          <div class="banner-text">
            <span class="txt-block">Subscribers: <span class="non-bg orange">{{ subInfo.subscribers | number }}</span></span>
          </div>
        </div>
        <div ng-if="!subInfo.banner_img" class="about-box" style="border-left: none;">
          <strong class="light-gray">ABOUT THIS SUBREDDIT</strong>

          <p ng-if="subInfo.public_description" class="small-font" ng-bind-html="subInfo.public_description_html | sanitize"></p>
          <p ng-if="!subInfo.public_description" class="small-font">No description available.</p>

          <md-card-content class="no-pad">
            <div ng-if="!subInfo.banner_img">
              <strong class="dark-gray"><i class="fa fa-user-plus" aria-hidden="true"></i>  Subscribers:
              <span class="purple">{{ subInfo.subscribers | number }}</span></strong>
            </div>
            <strong class="dark-gray"><i class="fa fa-calendar" aria-hidden="true"></i>  Created:
            <span class="green" ng-bind="subInfo.created_utc * 1000 | amDateFormat: 'MMMM Do, YYYY'"></span></strong>
          </md-card-content>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>

<md-card ng-if="subInfo.banner_img">
  <md-card-content class="no-pad">
    <div class="about-box" style="height: auto !important; border-top: none;">
      <strong class="light-gray">ABOUT THIS SUBREDDIT</strong>

      <p ng-if="subInfo.public_description" class="small-font" ng-bind-html="subInfo.public_description_html | sanitize"></p>
      <p ng-if="!subInfo.public_description" class="small-font">No description available.</p>

      <md-card-content class="no-pad">
        <div ng-if="!subInfo.banner_img">
          <strong class="dark-gray"><i class="fa fa-user-plus" aria-hidden="true"></i>  Subscribers:
          <span class="baby-blue">{{ subInfo.subscribers | number }}</span></strong>
        </div>
        <strong class="dark-gray"><i class="fa fa-calendar" aria-hidden="true"></i>  Created:
        <span class="green" ng-bind="subInfo.created_utc * 1000 | amDateFormat: 'MMMM Do, YYYY'"></span></strong>
      </md-card-content>
    </div>
  </md-card-content>
</md-card>