<div class="fixed-about">
  <strong class="green"><i class="fa fa-calendar"></i></strong> <strong class="white">Created:</strong> <span class="light-grey" ng-bind="subInfo.created_utc * 1000 | amDateFormat: 'MMMM Do, YYYY'"></span>
  <br>
  <strong class="green"><i class="fa fa-user-plus" aria-hidden="true"></i></strong> <strong class="white">Subscribers: </strong><span class="light-grey">{{ subInfo.subscribers | number }}</span>
</div>
<div class="descript small-font" style="color:#F5F5F5;">
  <br>
  <span ng-if="subInfo.public_description" ng-bind-html="subInfo.public_description_html | sanitize"></span>
  <span ng-if="!subInfo.public_description || subInfo.public_description.length < 2">No description available.<span>
</div>
