<md-card class="heatmap md-card-margin div-box">
  <strong class="light-gray">RECENT ACTIVITY TIMELIME</strong>
  <br>
  <md-card-content class="no-pad">
    <div ng-controller="SubHeatmapCtrl" align="center">
      <calendar-heatmap style="max-width: 75% !important;" data="mapData" color="'#ef5350'" overview="'year'" handler="print" type="'sub'"></calendar-heatmap>
      <br>
      <p class="gray small-font">Hover over a circle to see the number of comments and submissions posted on that day.</p>
    </div>
  </md-card-content>
</md-card>