<md-card class="heatmap md-card-margin">
  <strong class="light-gray">POST ACTIVITY THIS YEAR</strong>
  <md-card-content class="no-pad">
    <div ng-controller="SubHeatmapCtrl">
      <strong class="baby-blue">{{ count | number }} {{ count == 1 ? 'post' : 'posts' }} this year</strong>
      <calendar-heatmap style="max-width: 820px !important;" data="mapData" color="'#05753B'" overview="'year'" handler="print" type="'sub'"></calendar-heatmap>
      <br>
      <p class="gray small-font">Hover over a circle to see the number of comments and submissions posted on that day.</p>
    </div>
  </md-card-content>
</md-card>