<div class="row">
  <div class="col-md-2"><img class="sub-icon" ng-src="{{ subElement.icon_img ? subElement.icon_img : '../images/sub-icon.png' }}"></div>
  <div class="col-md-10 small-font">
    <a ng-if="subElement.subreddit_type != 'user'" ng-href="https://www.reddit.com/r/{{ subElement.display_name }}"><strong>/r/{{ subElement.display_name }}</strong></a>
    <a ng-if="subElement.subreddit_type == 'user'" ng-href="#/{{ subElement.display_name_prefixed | username }}"><strong>/{{ subElement.display_name_prefixed }}</strong></a>
      &middot <span class="dark-gray wrap-text">{{ subElement.title }}</span>
    <p class="gray wrap-text" ng-bind-html="subElement.public_description_html | sanitize"></p>
    <div class="row" id="sub-panel-stats">
      <div class="col-md-5"> 
        <span><i class="fa fa-user-plus gray" aria-hidden="true"></i> Subscribers: <strong class="baby-blue">{{ subElement.subscribers | number }}</strong></span>
        <br>
        <span ng-if="subElement.advertiser_category"><i class="fa fa-bookmark gray" aria-hidden="true"></i> Category: <strong class="purple">{{ subElement.advertiser_category ? subElement.advertiser_category : 'N/A' }}</strong></span>
        <span ng-if="subElement.subreddit_type"><i class="fa fa-bookmark gray" aria-hidden="true"></i> Category: <strong class="purple">{{ subElement.subreddit_type == 'user' ? 'User' : 'Subreddit' }}</strong>
        </span>
      </div>
      <div class="col-md-7">
        <span><i class="fa fa-calendar" aria-hidden="true"></i> Created: <strong class="green" ng-bind="subElement.created_utc * 1000 | amDateFormat:'MMM Do YYYY, h:mm a' "></strong></span>
        <br>
        <span ng-if="subElement.audience_target"><i class="fa fa-bullhorn gray" aria-hidden="true"></i> Audience Target: <strong class="orange">{{ subElement.audience_target ? subElement.audience_target : 'N/A' }}</strong></span>
      </div>
    </div>
  </div>
</div>