<div ng-controller="WordcloudCtrl" class="border-box cloud-box">
  <div class="row">
    <div class="col-md-12" align="center">
      <strong class="purple-heading">Most Mentioned Words</strong>
      <br><br>
      <jqcloud words="words" steps="10" colors="{{ colors }}" class="word-cloud" style="width: 90%; height: 30vh; margin-bottom: 15px;"></jqcloud>
    </div>
    <!--
    <div class="col-md-6 no-left-pad" align="center">
      <strong class="purple-heading">Words in Downvoted Posts</strong>
      <br><br>
      <jqcloud words="downWords" steps="10" colors="{{ downColors }}" class="word-cloud" style="width: 95%; height: 32vh;"></jqcloud>
    </div>
    -->
  </div>
</div>
