<div class="fixed-about">
  <strong class="white"><i class="fa fa-calendar"></i> Created:</strong> <span class="light-grey" ng-bind="subInfo.created_utc * 1000 | amDateFormat: 'MMMM Do, YYYY'"></span>
  &nbsp;&nbsp;&nbsp;
  <strong class="white"><i class="fa fa-user-plus" aria-hidden="true"></i> Subscribers: </strong><span class="light-grey">{{ subInfo.subscribers | number }}</span>
</div>
<br>
<div class="descript small-font" style="max-height: 29vh; color:#F5F5F5;">
  <span ng-if="subInfo.public_description" ng-bind-html="subInfo.public_description_html | sanitize"></span>
  <span ng-if="!subInfo.public_description">No description available.<span>
</div>
