<md-card class="heatmap heatmap-box" ng-controller="SubHeatmapCtrl">
  <strong class="purple-heading">Recent Activity Per Month</strong>
  <span class="gray-bold-subtitle">Average: {{ subAverage }} <ng-pluralize count="{{ subAverage }}" when="{'1': 'entry', 'other': 'entries'}"></ng-pluralize> per month</span>
  <br>
  <md-card-content class="no-pad">
    <div align="center">
      <calendar-heatmap data="mapData" color="'#497887'" overview="'year'" handler="print" type="'sub'"></calendar-heatmap>
    </div>
  </md-card-content>
</md-card>
