<div ng-include src="'views/searchnav.html'"></div>

<div class="main-content" id="user-sub-page">
  <div class="content" layout="column" ng-cloak>

    <!-- Slide out drawer showing all subreddits -->
    <div ng-include src="'views/sidenav.html'"></div>

    <div class="banner-div" style="background-color: #F5F5F5">

      <!-- User banner containing profile picture, and other user info -->
      <div ng-if="subInfo.banner_img == null" class="short-banner" align="center">
        <div ng-include src="'views/default-banner.html'"></div>
      </div>

      <div ng-if="subInfo.banner_img == '' && subInfo.banner_img != null" class="short-banner bg-banner" align="center">
        <div ng-include src="'views/default-banner.html'"></div>
      </div>

      <div ng-if="subInfo.banner_img != '' && subInfo.banner_img != null" class="tall-banner bg-banner" align="center">
        <div class="custom-banner column-pad sub-bg" lazy-img="{{ subInfo.banner_img | escape }}" align="center">
          <div class="banner-content">
            <div class="mobile-avatar row">
              <div class="col-xs-6 col-xs-push-3">
                <div ng-if="sub.info != null && subInfo.icon_img" class="mobile-circle" style="background-image: url({{ subInfo.icon_img | escape }});"></div>
                <div ng-if="!subInfo.icon_img" class="mobile-circle img-no-border" style="background-image: url('{{ '../images/logo.jpg' }}');"></div>
              </div>
            </div>
            <span class="user-name" id="{{ redditor.name }}">
              <strong class="sub-shadow"><span class="bright-blue">r/</span>{{ subreddit }}</strong>
            </span>
            <br>
            <strong class="banner-subtitle badge banner-badge">
              <span class="fa fa-clock-o"></span> Last seen <span><time-ago from-time='{{ page == "user" ? lastPost * 1000 : latestPost * 1000 }}'></time-ago></span>
            </strong>
          </div>
        </div>
      </div>

      <!-- Tab bar of navigation buttons, overviews, comments, and posts -->
      <div class="user-head-nav no-padding banner-pad card-shadow" align="center" sticky-nav="top-fix" type="sub">
        <div class="row center-tabs" style="position: relative; background: rgb(255, 255, 255, 0.9); margin: 0 -5px;">
          <div class="col-md-3 hidden-xs profile-img" style="position: relative;">
            <div ng-if="sub.info != null && subInfo.icon_img" class="sub-circle" style="background-image: url({{ subInfo.icon_img | escape }});"></div>
            <div ng-if="!subInfo.icon_img" class="sub-circle img-no-border" style="background-image: url('{{ '../images/logo.jpg' }}');"></div>
            <div class="name-bar" style="display: none;"><strong><span class="orange-text">/r/</span><a ng-href="#/{{ username }}/{{ subreddit }}/overview/">{{ subreddit }}</a></strong></div>
          </div>
          <div class="col-md-1 col-xs-2 tab-col">
            <div class="post-tab gray-bold-subtitle" ng-click="setTab(0)" ng-class="tab == 0 ? 'underline-tab' : 'empty-class'">
              <strong>
                <span class="word-tab">Subreddits</span>
                <span class="icon-tab" style="display: none;"><i class="fa fa-list"></i></span>
              </strong>
            </div>
          </div>
          <div class="col-md-1 col-xs-2 tab-col">
            <div class="post-tab gray-bold-subtitle" ng-click="setTab(1)" ng-class="tab == 1 ? 'underline-tab' : 'empty-class'">
              <strong>
                <span class="word-tab">Overview</span>
                <span class="icon-tab" style="display: none;"><i class="fa fa-area-chart"></i></span>
              </strong>
            </div>
          </div>
          <div class="col-md-1 col-xs-2 tab-col">
            <div class="post-tab gray-bold-subtitle" ng-click="setTab(2)" ng-class="tab == 2 ? 'underline-tab' : 'empty-class'">
              <strong>
                <span class="word-tab">Posts</span>
                <span class="icon-tab" style="display: none;"><i class="fa fa-file-text"></i></span>
              </strong>
            </div>
          </div>
          <div class="col-md-1 col-xs-2 tab-col">
            <div class="post-tab gray-bold-subtitle" ng-click="setTab(3)" ng-class="tab == 3 ? 'underline-tab' : 'empty-class'">
              <strong>
                <span class="word-tab">Comments</span>
                <span class="icon-tab" style="display: none;"><i class="fa fa-comment"></i></span>
              </strong>
            </div>
          </div>
          <div class="col-md-1 col-xs-2 tab-col">
            <div class="post-tab gray-bold-subtitle" ng-click="setTab(4)" ng-class="tab == 4 ? 'underline-tab' : 'empty-class'">
              <strong>
                <span class="word-tab">Gilded</span>
                <span class="icon-tab" style="display: none;"><i class="fa fa-star"></i></span>
              </strong>
            </div>
          </div>
          <div class="col-md-1 hidden-xs"></div>
          <div class="col-md-3 hidden-xs" style="padding-top: 6px; padding-bottom: 6px; padding-right: 7px;" align="right">
            <a ng-href="https://www.reddit.com/r/{{ subreddit }}/" target="_blank"><button class="btn nav-btn" style="vertical-align: middle; line-height: 30px; width: 100%;">Visit Subreddit <i class="fa fa-external-link"></i></button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-table" ng-controller="DataCtrl" extend-side>
      <div class="no-margin row width-pad">
        <div class="row">
          <div class="col-md-3 main-col no-mobile">
            <div class="card-box">
              <div ng-include src="'views/sub-card.html'"></div>
            </div>

            <div class="card-box" align="center">
              <div ng-include src="'views/sub-averages.html'"></div>
            </div>
          </div>

          <div ng-if="tab == 1" class="col-md-6 main-col middle-col">
            <div ng-if="tab == 1" class="card-box mobile-filter" style="display: none;">
              <div ng-include src="'views/sub-card.html'"></div>
            </div>

            <div ng-if="tab == 1" class="card-box mobile-filter" style="display: none;">
              <div ng-include src="'views/sub-averages.html'"></div>
            </div>

            <div class="card-box" ng-controller="SubChartCtrl">
              <strong class="purple-heading">Recent Points Per Month</strong>
              <br><br>
              <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-series="series" chart-options="options"
              chart-dataset-override="datasetOverride" chart-click="onClick">
              </canvas>
            </div>

            <div class="card-box">
              <div ng-include src="'views/sub-heatmap.html'"></div>
            </div>

            <div class="card-box" align="center">
              <div class="row">
                <div class="col-md-6" align="center">
                  <strong class="purple-heading">Sentiment Analysis</strong>
                  <br>
                  <donut-chart type="sentiment" sub="{{ subreddit }}" align="center"></donut-chart>
                </div>
                <div class="col-md-6" align="center">
                  <strong class="purple-heading">Voting Feedback</strong>
                  <br>
                  <donut-chart type="reaction" sub="{{ subreddit }}" align="center"></donut-chart>
                </div>
              </div>
            </div>

            <div class="card-box">
              <div ng-include src="'views/sub-wordcloud.html'"></div>
              <div align="center" style="margin-top: 10px; margin-bottom: 20px;">
                <span class="gray-bold-subtitle">Note: Reddit only stores the last 1000 comments and 1000 posts of a user.</span>
              </div>
            </div>
          </div>

          <div ng-if="tab > 1" class="col-md-6 main-col middle-col">
            <div ng-if="(tab == 2 && numSubmissions > 0) || (tab == 3 && numComments > 0) || (tab == 4 && gilded)">
              <div id="{{ tabOptions[tab] }}">
                <div ng-repeat="element in slicedArray | limitTo:limit" class="comment-list card-box list-card-box">
                  <div ng-if="element.type == 'comment'">
                    <div ng-include src="'views/comment-no-title.html'"></div>
                  </div>
                  <div ng-if="element.type == 'submit'">
                    <div ng-include src="'views/submission.html'"></div>
                  </div>
                </div>
                <div ng-if="limit < limits[tab]" align="center">
                  <button style="margin-top: 10px;" ng-click="loadMore()" class="btn gray-btn">Load More</button>
                </div>
              </div>
            </div>
            <div ng-if="tab == 3 && numComments == 0">
              <div class="card-box">
                {{ username }} has no comments in <strong><span class="orange-text">/r/</span>{{ subreddit }}.</strong>
              </div>
            </div>
            <div ng-if="tab == 2 && numSubmissions == 0">
              <div class="card-box">
                {{ username }} has no submissions in <strong><span class="orange-text">/r/</span>{{ subreddit }}.</strong>
              </div>
            </div>
            <div ng-if="tab == 4 && !gilded">
              <div class="card-box">
                {{ username }} has no gilded posts in <strong><span class="orange-text">/r/</span>{{ subreddit }}.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-3 main-col no-mobile">
            <div ng-if="tab == 1" class="card-box" id="about-card">
              <strong class="purple-heading">About This Subreddit</strong>
              <br><br>
              <span class="small-gray-font"><span class="fa fa-calendar"></span> Created <strong class="orange-text" ng-bind="subInfo.created_utc * 1000 | amDateFormat: 'MMMM Do, YYYY'"></strong></span>
              <div style="margin-top: 5px;">
                <span class="small-gray-font"><i class="fa fa-user-plus" aria-hidden="true"></i>
                <span class="gray-bold-subtitle">{{ subInfo.subscribers | number }}</span> subscribers</span>
              </div>
              <br>
              <span ng-if="subInfo.public_description" class="small-font descript" ng-bind-html="subInfo.public_description_html | sanitize"></span>
            </div>

            <div ng-if="tab > 1" class="card-box">
              <strong class="purple-heading" style="text-transform: capitalize;">Filter {{ tabOptions[tab] }}</strong>
              <br><br>
              <strong class="gray-bold-subtitle">Sort by:</strong>
              <br>
              <div class="btn-group select-dropdown dropdown-margin">
                <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
                  {{ sortSelected.name }}
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="sort in data.sortOptions" ng-click="setSortOption(sort)">{{ sort.name }}</li>
                </ul>
              </div>
            </div>

            <div ng-include src="'views/prev-users.html'"></div>

            <div class="no-mobile" align="center" style="position: relative;">
              <back-top></back-top>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
