<div ng-include src="'views/searchnav.html'"></div>

<div class="main-content" id="user-sub-page">
  <div class="content" layout="column" ng-cloak>

    <div ng-include src="'views/sidenav.html'"></div>

    <div class="banner-div">
      <div class="user-banner sub-banner row">
        <div class="col-md-8 col-md-push-3" id="user-page">
          <div class="row">
            <div class="col-sm-7">
              <span class="reddit-name"><span class="baby-blue">/r/</span>{{ subreddit }}</span>
            </div>
            <div class="col-sm-5 badge-col">
              <span class="badge num-subs">{{ username }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="user-head-nav" align="center">
      <div class="col-xs-4" ng-click="switchSub()"><p ng-class="tab == 2 ? 'green' : 'text-gray'">{{ isOverview() ? "Subs" : "Overview" }}</p></div>
      <div class="col-xs-4" ng-click="setTab(0)"><p ng-class="tab == 0 ? 'green' : 'text-gray'">Comments</p></div>
      <div class="col-xs-4" ng-click="setTab(1)"><p ng-class="tab == 1 ? 'green' : 'text-gray'">Posts</p></div>
    </div>

    <div class="sub-table">
      <div ng-include src="'views/sub-sidebar.html'"></div>
      <div class="col-md-8 col-md-push-3 col-xs-12 sub-rows" id="table-head">

        <div ng-if="tab == 2">
          <div id="overview">
            <div class="row">
              <div class="col-md-1">
                 <i class="fa fa-reddit" aria-hidden="true"></i>
              </div>
              <div class="col-md-11" id="since-date">
                <strong class="top-line">Current data available since: <span class="purple" ng-bind="firstPost.created_utc * 1000 | amDateFormat: 'MMM D YYYY, h:mm a'"></span></strong><br>
                <i class="fa fa-clock-o" aria-hidden="true"></i> <strong class="green">Last seen <time-ago from-time='{{ latestPost.created_utc * 1000 }}'></time-ago></strong>
              </div>
            </div>
            <br>

            <div class="row" id="overview-table">
              <div class="col-sm-12">
                <table class="table table-bordered">
                  <tr class="table-heads">
                    <th></th>
                    <th>Comments</th>
                    <th>Submitted</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    <th>Posts</th>
                    <td>{{ sub.comments.length }}</td>
                    <td>{{ sub.submissions.length }}</td>
                    <td>{{ (sub.comments.length) + (sub.submissions.length) | number }}</td>
                  </tr>
                  <tr>
                    <th>Gilded</th>
                    <td>{{ sub.gilded_comments }}</td>
                    <td>{{ sub.gilded_submissions }}</td>
                    <td>{{ (sub.gilded_comments) + (sub.gilded_submissions) | number }}</td>
                  </tr> 
                  <tr>
                    <th>Upvotes</th>
                    <td>{{ sub.comment_ups | number }}</td>
                    <td>{{ sub.submission_ups | number }}</td>
                    <td>{{ (sub.comment_ups) + (sub.submission_ups) | number }}</td>
                  </tr>      
                </table>    
              </div>
            </div>

          </div>

          <div id="statistics" ng-controller="SubStatsCtrl">
            <h3 class="title-heading">Statistics</h3>
            <br>
            <div align="center">
              <span>Out of {{ username }}'s <strong class="orange">{{ subLength }}</strong> subreddits, <span class="baby-blue">r/{{ subreddit }}</span> is ranked:</span>
            </div>
            <div class="row badge-row small-font">
              <div class="col-sm-3 col-xs-6" align="center">
                <img ng-src="{{ '../images/active.png' }}" class="stat-icon"><br>
                <strong class="green">#{{ mostActiveRank }} in most active</strong>
              </div>
              <div class="col-sm-3 col-xs-6" align="center">
                <img ng-src="{{ '../images/best.png' }}" class="stat-icon"><br>
                <strong class="green">#{{ mostUpsRank }} in most upvoted</strong>
              </div>
               <div class="col-sm-3 col-xs-6" align="center">
                <img ng-src="{{ '../images/comments.png' }}" class="stat-icon"><br>
                <strong class="green">#{{ mostCommentsRank }} in most comments</strong>
              </div>  
               <div class="col-sm-3 col-xs-6" align="center">
                <img ng-src="{{ '../images/posts.png' }}" class="stat-icon"><br>
                <strong class="green">#{{ mostSubmitsRank }} in most submitted</strong>
              </div>               
            </div>

            <br>
            <div ng-repeat="element in highestPosts" ng-if="element.id">
              <div class="card side-cards">
                <div class="card-content card-heading">
                  <i class="fa fa-star-o purple" aria-hidden="true"></i> {{ element.type == 'comment' ? 'Most Upvoted Comment' : 'Most Upvoted Submission' }}
                </div>
              </div>
              <div ng-if="element.type == 'comment'">
                <div ng-include src="'views/comment.html'"></div>
              </div>
              <div ng-if="element.type == 'submit'">
                <div ng-include src="'views/submission.html'"></div>
              </div>
            </div>
          </div>

          <br>
          <div ng-controller="WordcloudCtrl">
            <h4><strong>Words in r/{{ subreddit }}</strong></h4>
            <jqcloud words="words" steps="7" colors="{{ colors }}" style="width: 100%; height: 350px;"></jqcloud>
          </div>

          <br>
          <div align="center" class="center-back">
            <back-top></back-top>
            <br><br>
          </div>
        </div>

        <div ng-if="(tab == 0 && sub.comments.length > 0) || (tab == 1 && sub.submissions.length > 0)">
          <span class="small-font">Viewing <strong class="orange">{{ slicedArray.length }}</strong> of {{ sub[tabOptions[tab]].length }} {{ tabOptions[tab] }} </span>
          <div class="table-options">
            <div class="row" id="table-start">
              <div class="col-md-3">
                <form name="sortForm">
                  <md-select ng-model="data.selectedSort" placeholder="{{ data.selectedSort.name }}" ng-change="setSortOption()">
                    <md-option ng-repeat="sort in data.sortOptions" ng-value="sort" ng-selected="sort.value == data.selectedSort.value">
                      <span class="main-color low-weight">{{ sort.name }}</span>
                    </md-option>
                  </md-select>
                </form>
              </div>
              <div class="col-md-3">
                <form name="viewForm">
                  <md-select ng-model="subPage.viewby" placeholder="test" ng-change="setItemsPerPage(subPage.viewby.num)">
                    <md-option ng-repeat="view in views" ng-value="view" ng-selected="view.value == subPage.viewby.value">
                      <span class="main-color low-weight">View {{ view.num }}</span>
                    </md-option>
                  </md-select>
                </form>
              </div>
              <div class="col-md-6 paginate" align="right" id="top-paginate">
                <pagination total-items="sub[tabOptions[tab]].length" ng-model="subPage.current" class="pagination-sm" items-per-page="subPage.items" max-size="subPage.max" style="margin: -5px;"></pagination>
              </div>
            </div>
          </div>
          <br>

          <div id="{{ tabOptions[tab] }}">
            <div ng-repeat="element in sliceArray()">
              <div ng-if="element.type == 'comment'">
                <div ng-include src="'views/comment.html'"></div>
              </div>
              <div ng-if="element.type == 'submit'">
                <div ng-include src="'views/submission.html'"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pull-center" id="back-up">
                <back-top></back-top>
              </div>
              <div class="col-md-6 paginate">
                <pagination total-items="sub[tabOptions[tab]].length" ng-model="subPage.current" ng-change="backUp()" class="pagination-sm" items-per-page="subPage.items" max-size="subPage.max" id="bottom-paginate"></pagination>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="tab == 0 && sub.comments.length == 0" align="center">
          <h5>{{ username }} has no comments in r/{{ subreddit }}.</h5>
        </div>
        <div ng-if="tab == 1 && sub.submissions.length == 0" align="center">
          <h5>{{ username }} has no submissions in r/{{ subreddit }}.</h5>
        </div>

      </div>
    </div>

  </div>
</div>

