<div class="no-pad">
  <div class="row submit-row">
    <div class="col-md-2 col-xs-3 post-thumbnail no-right-pad" align="center">
      <thumbnail data="{{ element }}" page="{{ page }}"></thumbnail>
    </div>
    <div class="col-md-10 col-xs-9 submit-info">
      <div ng-include src="'views/submit-header.html'"></div>
      <br class="hide-break">
    </div>
  </div>
  <accordion ng-if="tab >= 2" class="accordion">
    <accordion-group ng-init="status = { isOpen: false }" is-open="status.isOpen">
      <accordion-heading>
        <div class="center">
          <i class="fa fa-2x gray" ng-class="status.isOpen ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true"></i>
        </div>
      </accordion-heading>
      <div id="submit-col">
        &nbsp;
        <submit-content ng-if="status.isOpen" class="wrap-text" data="{{ element }}" page="{{ page }}" truncate="false" user="{{ username }}"></submit-content>
      </div>
    </accordion-group>
  </accordion>
  <div ng-if="tab < 2" id="submit-col">
    <br>
    <submit-content class="wrap-text" data="{{ element }}" page="{{ page }}" truncate="false" user="{{ username }}"></submit-content>
  </div>
</div>
