<md-card ng-class="page == 'submissions' || page == 'search' ? 'post-margin' : 'empty-class'">
  <md-card-title ng-if="page == 'user' || page == 'sub'">
    <div class="col-xs-7 no-padding">
      <h4><strong>{{ page == 'user' ? 'Most Recent Submission' : 'Most Upvoted Submission' }}</strong></h4>
    </div>
    <div ng-if="page == 'user'" class="col-xs-5 no-padding" align="right">
      <h4><strong><a class="purple" ng-href="#/{{ username }}/{{ element.subreddit }}/">/r/{{ element.subreddit | truncate:15:true }}</a></strong></h4>
    </div>
  </md-card-title>
  <md-divider></md-divider>

  <md-card-content id="submit-card">
    <div class="row submit-row">
      <div class="col-md-2 hidden-xs post-thumbnail">
        <thumbnail data="{{ element }}" page="{{ page }}"></thumbnail>
      </div>
      <div class="col-md-10 col-xs-12 submit-info">
        <a ng-href="{{ element.url }}" target="_blank">
        <strong ng-if="page != 'search' || !element.highlighted_title" class="wrap-text">{{ element.title | escape }}</strong>
        <strong ng-if="page == 'search' && element.highlighted_title" class="wrap-text" ng-bind-html="element.highlighted_title | sanitize"></strong>
        </a> <span ng-if="element.link_flair_text" class="label label-default">{{ element.link_flair_text }}</span> <span ng-if="element.gilded > 0"><span class="post-links gilded-icon gray"> x {{ element.gilded }}</span></span>
        <div id="submit-stats">
          <span class="post-links">
            <strong class="post-points" ng-class="element.ups > 0 ? 'green' : 'orange'">{{ element.ups | number }} {{ element.ups == 1 || element.ups == -1 ? "point" : "points" }}</strong>
          </span>
          <span class="post-links">       
            <a ng-href="https://www.reddit.com{{ element.permalink }}" target="_blank"><ng-pluralize count="element.num_comments" when="{'1': '1 comment', 'other': '{{ element.num_comments | number }} comments'}"></ng-pluralize></a> 
          </span> 
          <span class="post-links">
            <span ng-bind="element.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'" class="post-date gray"></span>      
          </span>
        </div>
      </div>
    </div>
  </md-card-content>
  <div ng-if="page != 'search' && element | isContent" ng-include src="'views/accordion-submit.html'"></div>

  <div ng-if="page == 'search' && element | isContent">
    <md-divider></md-divider>
    <div id="submit-col-search">
      <submit-content class="wrap-text" data="{{ element }}" page="{{ page }}"></submit-content>
    </div>
  </div>
</md-card>