<div class="card post-card">
  <div class="card-content" id="submit-card">
    <div class="row submit-row">
      <div class="col-xs-2 post-thumbnail">
        <thumbnail data="{{ element }}"></thumbnail>
      </div>
      <div class="col-xs-10" id="post-header">
        <a href="{{ element.url }}" target="_blank">
        <strong ng-if="page != search || !element.highlighted_title">{{ element.title | escape }}</strong>
        <strong ng-if="page =='search' && element.highlighted_title" ng-bind-html="element.highlighted_title | sanitize"></strong>
        </a> <span ng-if="element.link_flair_text" class="label label-default">{{ element.link_flair_text }}</span> <span ng-if="element.gilded > 0"><span class="post-links gilded-icon gray"> x {{ element.gilded }}</span></span>
        <div id="submit-stats">
          <span class="post-links">
            <strong class="post-points" ng-class="element.ups > 0 ? 'green' : 'orange'">{{ element.ups | number }} {{ element.ups == 1 || element.ups == -1 ? "point" : "points" }}</strong>
          </span>
          <span class="post-links">       
            <a href="https://www.reddit.com{{ element.permalink }}" target="_blank"><ng-pluralize count="element.num_comments" when="{'1': '1 comment', 'other': '{{ element.num_comments | number }} comments'}"></ng-pluralize></a> 
          </span> 
          <span class="post-links">
            <span ng-bind="element.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'" class="post-date gray"></span>      
          </span>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="page != 'search'" ng-include src="'views/accordion-submit.html'"></div>

  <div ng-if="page == 'search'">
    <div id="submit-col">
      <submit-content class="wrap-text" data="{{ element }}" page="{{ page }}"></submit-content>
    </div>
  </div>
</div>