<div class="no-pad">
  <div class="row submit-row">
    <div class="col-md-2 col-xs-3 post-thumbnail" align="center">
      <thumbnail data="{{ element }}" page="{{ page }}"></thumbnail>
    </div>
    <div class="col-md-10 col-xs-9 submit-info">
      <div ng-include src="'views/submit-header.html'"></div>
      <br class="hide-break">

	  <accordion class="accordion accordion-hidden">
	    <accordion-group ng-init="status = { isOpen: tab == 1 ? true : open }" is-open="status.isOpen">
	      <accordion-heading>

        <div id="submit-stats" class="row">
          <div class="col-xs-11">
            <span class="post-links">
              <span ng-if="element.ups > 0" class="upvote-badge"><ng-pluralize class="post-points" count="element.ups" when="{'1': '1 point', 'other': '{{ element.ups | number }} points'}"></ng-pluralize> <span class="glyphicon glyphicon-arrow-up green"></span></span>
              <span ng-if="element.ups < 1" class="downvote-badge"><ng-pluralize class="post-points" count="element.ups" when="{'-1': '-1 point', 'other': '{{ element.ups | number }} points'}"></ng-pluralize> <span class="glyphicon glyphicon-arrow-down orange"></span></span>
            </span>
            <span class="post-links">
              <span ng-bind="element.created_utc * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'" class="post-date light-grey"></span>
            </span>
          </div>
          <div class="col-xs-1" align="right">
            <i class="fa fa-2x gray accordion-icon" ng-class="status.isOpen ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true"></i>
          </div>
        </div>
	      </accordion-heading>
	      <div id="submit-col" ng-if="status.isOpen">
	        <submit-content class="wrap-text" data="{{ element }}" page="{{ page }}" truncate="false" user="{{ username }}"></submit-content>
	      </div>
	    </accordion-group>
	  </accordion>

    </div>
  </div>
  <accordion class="accordion mobile-accordion" style="display: none;" ng-if="element | isContent">
    <accordion-group ng-init="status = { isOpen: tab >= 2 ? false : true }" is-open="status.isOpen">
      <accordion-heading>
        <div class="center">
          <i class="fa fa-2x gray" ng-class="status.isOpen ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true"></i>
        </div>
      </accordion-heading>
      <div id="submit-col">
        <submit-content class="wrap-text" data="{{ element }}" page="{{ page }}" truncate="false" user="{{ username }}"></submit-content>
      </div>
    </accordion-group>
  </accordion>
</div>
