<a href="{{ submit.url }}" target="_blank"><strong>{{ submit.title }}</strong></a><br>

<div class="label label-default">{{ submit.type == 'comment' ? 'comment' : 'submission' }}</div>
<br><br>
<div ng-if="submit.type == 'comment'">
  <p class="small-font" ng-bind-html="submit.body_html | sanitize | truncate"></p>
</div>

<strong><ng-pluralize class="small-font baby-blue" count="submit.ups" when="{'1': '1 point', 'other': '{{ submit.ups }} points'}"></ng-pluralize></strong> | <a href="http://www.reddit.com{{ submit.permalink }}" target="_blank"><ng-pluralize class="small-font" count="submit.num_comments" when="{'1': '1 comment', 'other': '{{ submit.num_comments }} comments'}"></ng-pluralize></a>