<md-card class="heatmap"  ng-controller="UserHeatmapCtrl">
  <strong class="purple-heading">Recent Subreddit Activity Per Month</strong>
  <span class="gray-bold-subtitle">Average: {{ subAverage }} unique <ng-pluralize count="{{ subAverage }}" when="{'1': 'subreddit', 'other': 'subreddits'}"/> per month</span>
  <br>
  <md-card-content class="no-padding">
    <div align="center">
      <calendar-heatmap data="mapData" color="'#497887'" overview="'year'" handler="print" type="'user'"></calendar-heatmap>
    </div>
  </md-card-content>
  <div align="center" style="margin-top: 10px; margin-bottom: 20px;">
    <span class="small-gray-font">Per month statistics start from the oldest post within the last 6 months.</span>
  </div>
</md-card>
