<md-card class="card-bottom-margin" style="margin-top: 8px;">
  <md-card-content>
    <div class="row no-margin">
      <div class="col-xs-11 no-padding">
        <strong class="md-blue"> Last seen
        <time-ago class="light-gray" from-time='{{ page == "user" ? lastPost * 1000 : latestPost * 1000 }}'></time-ago></strong>
      </div>
      <div class="col-xs-1 no-padding" align="right">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content ng-controller="FetchTimeCtrl">
    <p class="small-font">The data shown here was last fetched from {{ fetchTime | amDateFormat: 'MMMM Do YYYY, h:mm a' }}. <a href="" ng-click="refresh()">Refresh</a> to get the latest activity.</p>
  </md-card-content>
</md-card>