<div ng-include src="'views/user-last-seen.html'" class="non-mobile-only"></div>

<div class="row no-margin">
  <div ng-repeat="element in latest" ng-if="element.id">
    <div ng-if="element.type == 'comment'">
      <div ng-include src="'views/comment-card.html'"></div>
    </div>
    <div ng-if="element.type == 'submit'">
      <div ng-include src="'views/submit-card.html'"></div>
    </div>
  </div>
</div>

<div ng-include src="'views/sub-badges.html'"></div>

<div class="user-note">
  <md-card>
  	<md-card-content>
  		<span class="small-font dark-gray">Note: The data shown here is available from <strong ng-bind="firstPost * 1000 | amDateFormat: 'MMMM Do YYYY, h:mm a'"></strong> and is based on the most recent 1000 comments and most recent 1000 submissions only.</span>
  	</md-card-content>
  </md-card>
</div>
