<div ng-include src="'views/searchnav.html'"></div>

<!-- Display not found page -->
<div id="not-found" ng-if="notfound" ng-include src="'views/not-found.html'"></div>

<div class="main-content" id="home-page">

  <div ng-if="!notfound" class="content" layout="column" ng-cloak>

    <!-- Open slideable bar to display subreddits -->
    <div ng-include src="'views/sidenav.html'" id="fixed-sidebar"></div>

    <div ng-if="noSubs" align="center" class="banner-div" id="not-found-div">
      <h3 class="sub-banner">{{ username }} does not have any activity yet.</h3>
      <br>
    </div>

    <div ng-if="!noSubs" class="banner-div" style="background-color: white;">

      <!-- User banner containing profile picture, and other user info -->
      <div class="default-banner u-banner column-pad user-pad" align="center">
        <div class="banner-content">
          <div class="mobile-avatar row">
            <div class="col-md-6 col-md-push-3">
              <div ng-if="redditor.subreddit" class="mobile-circle" style="background-image: url({{ redditor.subreddit.icon_img | escape }});"></div>
              <div ng-if="!redditor.subreddit" class="mobile-circle" style="background-image: url({{ redditor.icon_img }});"></div>
            </div>
          </div>
          <span class="user-name" id="{{ username }}">
            <strong class="sub-shadow"><span ng-class="username.length > 18 ? 'mobile-title' : 'empty-class'"><span class="bright-blue">u/</span>{{ username }}</span></strong>
          </span>
          <br>
          <strong class="banner-subtitle badge banner-badge">
            <span class="fa fa-calendar"></span> Redditor since <span ng-bind="redditor.created_utc * 1000 | amDateFormat: 'MMMM Do, YYYY'"></span>
          </strong>
          &nbsp;
          <a ng-href="https://www.reddit.com/u/{{ username }}/" target="_blank"><strong class="banner-subtitle badge sublink-badge">
            Visit Reddit Profile <i class="fa fa-external-link"></i>
          </strong></a>
        </div>
      </div>

      <!-- Tab bar of navigation buttons, overviews, comments, and posts -->
      <div class="user-head-nav no-padding banner-pad card-shadow user-page" align="center" sticky-nav="{{ topFix }}" type="user">
        <div class="row">
          <div class="col-lg-3 hidden-md hidden-sm hidden-xs profile-img" style="position: relative;">
            <div ng-if="redditor.subreddit" class="sub-circle" style="background-image: url({{ redditor.subreddit.icon_img | escape }});"></div>
            <div ng-if="!redditor.subreddit" class="sub-circle" style="background-image: url({{ redditor.icon_img }});"></div>
            <div class="name-bar" style="display: none;"><strong><span class="orange-text">/u/</span><a ng-href="#/{{ username }}/subreddits/">{{ username }}</a></strong></div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 tab-col">
                <div class="post-tab gray-bold-subtitle" ng-click="setTab(0)" ng-class="tab == 0 ? 'underline-tab' : 'empty-class'"><strong>Subreddits</strong></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 tab-col">
                <div class="post-tab gray-bold-subtitle" ng-click="setTab(1)" ng-class="tab == 1 ? 'underline-tab' : 'empty-class'"><strong>Stats</strong></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 tab-col">
                <div class="post-tab gray-bold-subtitle" ng-click="setTab(2)" ng-class="tab == 2 ? 'underline-tab' : 'empty-class'"><strong>Search</strong></div>
              </div>
              <div class="col-lg-3"></div>
            </div>
          </div>
          <div class="col-lg-3 nav-btn-col" style="display: none; padding-right: 0; padding-top: 6px; padding-bottom: 3px;">
            <a ng-href="https://www.reddit.com/u/{{ redditor.name }}" target="_blank"><button class="btn nav-btn" style="vertical-align: middle; line-height: 40px; width: 100%;">Visit Profile <i class="fa fa-external-link"></i></button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-table" ng-controller="DataCtrl">
      <div class="no-margin row width-pad">

        <div class="row" ng-controller="UserSearchCtrl">
          <div class="col-lg-3 no-mobile main-col">
            <div sticky-sides="side-fix" type="user">
              <div class="card-box">
                <div ng-include src="'views/user-card.html'"></div>
              </div>

              <div class="card-box no-mobile best-posts" align="center">
                <a ng-href="#/{{ username }}/{{ topComment }}/overview/"><div class="gray-box comment-box">
                  <div class="gray-box-content">
                    <strong>Current Best Comment</strong>
                    <div ng-if="topComment">
                      <span class="small-white-font">{{ topComment }}</span>
                    </div>
                    <div ng-if="!topComment">
                      <span class="small-white-font">No comments.</span>
                    </div>
                  </div>
                </div></a>
                <div class="v-spacer"></div>
                <a ng-href="#/{{ username }}/{{ topSubmit }}/overview/"><div class="gray-box submission-box">
                  <div class="gray-box-content">
                    <strong>Current Best Post</strong>
                    <div ng-if="topSubmit">
                      <span class="small-white-font">{{ topSubmit }}</span>
                    </div>
                    <div ng-if="!topSubmit">
                      <span class="small-white-font">No posts.</span>
                    </div>
                  </div>
                </div></a>
                <div class="v-spacer"></div>
                <a ng-href="#/{{ username }}/{{ topSub }}/overview/"><div class="gray-box top-sub-box">
                  <div class="gray-box-content">
                    <strong>Top Subreddit This Week</strong>
                    <div ng-if="topSub">
                      <span class="small-white-font">{{ topSub }}</span>
                    </div>
                    <div ng-if="!topSub">
                      <span class="small-white-font">No activity this week.</span>
                    </div>
                  </div>
                </div></a>
              </div>
            </div>
          </div>

          <div ng-if="tab == 0" class="col-lg-6 main-col middle-col">

            <div class="card-box mobile-filter" style="padding: 0; display: none;">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card-box">
                    <div ng-include src="'views/user-card.html'"></div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card-box">
                    <div ng-include src="'views/filter-subs.html'"></div>
                  </div>
                </div>
              </div>
            </div>

            <div ng-repeat="subreddit in subList | limitTo:limit" class="sub-card-box" id="sub-row">
              <a ng-href="#/{{ username }}/{{ subreddit }}/overview/"><div class="row prevRow">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" align="center">
                  <strong class="num-rank" style="color: #4D4D4D;">{{ 1 + $index }}</strong>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 no-left-pad">
                  <div class="row">
                    <div class="col-lg-10 col-sm-10 no-right-pad">
                      <span class="sub-name">{{ subreddit }}</span> <span ng-if="subs[subreddit].gilded_comments > 0 || subs[subreddit].gilded_submissions > 0" class="gilded-star gilded-sub"></span>

                      <span class="badge"><span class="fa fa-comment small-icon"></span>&nbsp;&nbsp;{{ subs[subreddit].num_comments }}</span>
                      <span class="badge"><span class="fa fa-file-text small-icon"></span>&nbsp;&nbsp;{{ subs[subreddit].num_submissions }}</span>

                      <span class="last-seen">&nbsp;<span class="small-gray-font" style="font-size: 14px;" ng-init="seen=subs[subreddit].recent_activity.created_utc * 1000"><time-ago from-time='{{ seen }}'></time-ago></span></span>

                      <div class="mobile-last-seen" style="display: none;">
                        <span class="small-gray-font" ng-init="seen=subs[subreddit].recent_activity.created_utc * 1000"><time-ago from-time='{{ seen }}'></time-ago></span>
                        <br>
                        <strong style="font-size: 18px;" ng-class="subs[subreddit].total_ups > 0 ? 'green' : 'orange'"> {{ subs[subreddit].total_ups | karma }} <span ng-class="subs[subreddit].total_ups > 0 ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></strong>
                      </div>

                    </div>
                    <div class="col-lg-2 col-sm-2 hidden-xs no-left-pad" align="right">
                      <strong style="font-size: 17px;" ng-class="subs[subreddit].total_ups > 0 ? 'green' : 'orange'"> {{ subs[subreddit].total_ups | karma }}<span ng-class="subs[subreddit].total_ups > 0 ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></strong>
                    </div>
                  </div>
                </div>
              </div>

            </a>
            </div>
            <div ng-if="limit < subLength" align="center">
              <button style="margin-top: 10px;" ng-click="loadMore()" class="btn gray-btn">Load More</button>
            </div>
          </div>

          <div ng-if="tab == 1" class="col-lg-6 main-col">
            <div class="card-box" ng-controller="LineChartCtrl">
              <strong class="purple-heading">Recent Points Per Month</strong>
              <br>
              <span class="gray-bold-subtitle">Average: {{ voteAverage | number }} <ng-pluralize count="{{ voteAverage }}" when="{'1': 'point', 'other': 'points'}"></ng-pluralize> per month</span>
              <br><br>
              <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-series="series" chart-options="options"
              chart-dataset-override="datasetOverride" chart-click="onClick">
              </canvas>
            </div>
            <div class="card-box" ng-include src="'views/user-heatmap.html'"></div>

            <div class="card-box" id="statistics" ng-controller="UserStatsCtrl" align="center">
              <div class="row no-margin">
                <div ng-repeat="(badge, data) in badges" class="col-sm-6 no-padding" align="center">
                  <a href="#/{{ username }}/{{ data.sub }}/overview/">
                  <md-card class="user-badge-card no-margin">
                    <md-tooltip class="tooltip">{{ data.sub }}: {{ data.points | number }} <ng-pluralize count="data.points" when="{'1': 'point', 'other': 'points'}"></ng-pluralize></md-tooltip>
                    <br>
                    <img ng-if="data.image" lazy-img="{{ data.image }}" class="badge-image img-responsive" alt="badge">
                    <img ng-if="!data.image" lazy-img="{{ '../images/logo.jpg' }}" class="badge-image img-responsive" alt="badge">
                    <strong style="font-size: 15px;"><span class="orange-text">/r/</span>{{ data.sub | truncate:25:true }}</strong>
                    <strong class="gray-bold-subtitle">{{ data.name }}</strong>
                    <br>
                  </md-card>
                  </a>
                </div>
              </div>

              <div align="center" style="margin-top: 10px; margin-bottom: 20px;">
                <span class="gray-bold-subtitle">Note: Reddit only stores the last 1000 comments and 1000 posts of a user.</span>
              </div>
            </div>
          </div>

          <div ng-if="tab == 2" class="col-lg-6 main-col">
            <div ng-include src="'views/search.html'"></div>
          </div>

          <div class="col-lg-3 main-col no-mobile">
            <div sticky-sides="side-fix" type="user">
              <div ng-if="tab == 2 && hasResults" class="card-box">
                <strong class="purple-heading">Filter Search Results</strong>
                <br>
                <div ng-include src="'views/side-search.html'"></div>
              </div>

              <div ng-if="tab == 0" class="card-box">
                <div ng-include src="'views/filter-subs.html'"></div>
              </div>

              <div ng-include src="'views/prev-users.html'"></div>

              <div class="no-mobile" align="center" style="position: relative;">
                <back-top></back-top>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
