<div class="col-md-3 col-md-offset-1 user-side fixed-pos" style="width: 21%;">

  <div class="card side-cards" id="fixed-side">
    <div class="card-action pad-card" ng-click="scrollAnchor('overview')">Overview</div>
    <div class="card-action pad-card" ng-click="scrollAnchor('subreddits')">Subreddits</div>
    <div class="card-action pad-card" ng-click="scrollAnchor('latest')">Recent Activity</div>
    <div class="card-action pad-card" ng-click="scrollAnchor('statistics')">Statistics</div>
    <a href="#/{{ username }}/search/"><div class="card-action pad-card"><i class="fa fa-search" aria-hidden="true"></i> Search</div></a>
    <div class="card-action pad-card white-bg" align="center">
      <img ng-if="redditor.subreddit" ng-src="{{ redditor.subreddit.icon_img }}" class="banner-img">
      <img ng-if="!redditor.subreddit" ng-src="{{ '../images/sub-icon.png' }}" class="banner-img"><br><br>
      <p class="purple side-username">/u/{{ username }}</p>
      <a href="https://www.reddit.com/user/{{ username }}" target="_blank" class="reddit-btn"><button class="btn btn-sm"><i class="fa fa-external-link" aria-hidden="true"></i> Visit reddit page</button></a>
    </div>
    <div class="card-action pad-card white-bg">
      <span class="gray small-font">Note: The data shown here is based on the user's most recent 1000 comments and submissions each, starting from <span ng-bind="firstPost.created_utc * 1000 | amDateFormat: 'MMM D, YYYY.'"></span>
    </div>

  </div>
</div>