<div ng-include src="'views/searchnav.html'"></div> 

<div class="main-content" id="home-page">
  <div ng-if="notfound">
     <h2 align="center">Sorry, that user could not be found.</h2>
  </div>

  <div ng-if="!notfound" class="content" layout="column" ng-cloak>
    <div>
      <div class="sub-banner">
        <div class="table-pad">
          <div class="row">
            <div class="col-md-8">
              <i class="fa fa-3x fa-reddit"></i>
              <a href="https://www.reddit.com/user/{{ redditor.name }}" target="_blank"><span id="reddit-name"><span class="baby-blue">/u/</span>{{ redditor.name }}</span></a> <span class="badge" id="num-subs">{{ subLength }} <ng-pluralize count="subLength" when="{'1': 'subreddit', 'other': 'subreddits'}"></ng-pluralize></span>
            </div>
          </div>
        </div>
      </div>

      <div class="sub-table">
        <div ng-include src="'views/user-sidebar.html'"></div>
        <div class="col-md-8 col-md-pull-4 sub-rows">

          <div class="row" id="table-head">
            <div class="col-xs-6">
              <form name="myForm">
                <label for="mySelect">Sort by:</label>
                <select name="mySelect" id="mySelect"
                  ng-options="option.name for option in sortData.sortOptions track by option.value"
                  ng-model="sortData.selectedSort" ng-change="setSortOption()"></select>
              </form>
            </div>
            <div class="col-xs-6 gray middle-title" align="right">Click on a subreddit below.</div>
          </div>      
          <br>

          <div class="panel panel-default" ng-repeat="subreddit in getArray()" id="sub-row">
            <div class="panel-body">
              <a href="#/{{ redditor.name }}/{{ subreddit }}">
              <div class="col-md-6" id="sub-rank">
                <div class="col-md-2">
                  <span class="baby-blue"><strong>{{ 1 + $index }}</strong></span>
                </div>
                <div class="col-md-10">
                  <span id="sub-name"> /r/{{ subreddit }}</span><br>
                  <span class="gray sub-text">Last seen <span ng-bind="subs[subreddit].recent_activity | amDateFormat:'MMM Do YYYY, h:mm a'"></span></span>
                </div>
              </div>
              <div class="col-md-2 col-xs-4" align="center">
                <span class="purple number">{{ subs[subreddit].comments.length }}</span><br>
                <span class="gray sub-text">Comments</span>
              </div>
              <div class="col-md-2 col-xs-4" align="center">
                <span class="purple number">{{ subs[subreddit].submissions.length }}</span><br>
                <span class="gray sub-text">Submitted</span>
              </div>
              <div class="col-md-2 col-xs-4" align="center">
                <span class="number" ng-class="subs[subreddit].total_ups > 0 ? 'green' : 'orange'">{{ subs[subreddit].total_ups | number }}</span><br>
                <span class="gray sub-text">Upvotes</span>
              </div>
              </a>
            </div>
          </div>

          <div align="center" id="back-up">
            <back-top></back-top>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>