<div ng-show="chartReady">
  <strong class="white title-heading">Recent Entries Created In The Last Year: {{ count | number }}</strong>
  <br>
  <span class="light-grey">
    {{ average | number }} average <ng-pluralize count="{{ average }}" when="{'1': 'entry', 'other': 'entries'}"></ng-pluralize> posted per month
    <br>
    Active in {{ uniqueSubs }} average <ng-pluralize count="{{ uniqueSubs }}" when="{'1': 'subreddit', 'other': 'subreddits'}"></ng-pluralize> per month
  </span>
  <br><br>
  <calendar-heatmap data="mapData" color="'#004D41'" overview="'year'" handler="print" type="'user'" class="map-scroll"></calendar-heatmap>
  <br>
  <span class="light-grey mobile-only post-date">Scroll to the right to see the rest of the year.</span>
  <br>
</div>
